[2019-04-30 21:36] emackey commented on #449
Here's a screenshot of [pbr_node](https://github.com/KhronosGroup/glTF-Blender-IO/tree/master/tests/pbr_node) with some stuff plugged in:

![pbr_node_sample](https://user-images.githubusercontent.com/1235080/56994897-59485d00-6b6e-11e9-9e57-bb3dede1ad1c.png)

[2019-04-30 22:24] donmccurdy commented on #449
Our first priority should be to support these features through methods native to Blender 2.8. For example, we can export emissives with an *Emission* node now, and could get alpha from a *Transparent BSDF* node in the future. In general, this exporter should not be training Blender users to do weird things unless absolutely necessary. For baked AO, unfortunately, a hack was necessary.

Any command

[2019-05-01 00:18] SirSilverCharles commented on #451
I found a workaround: duplicate(alt+D) the rig for each action and only use one action in each rig, the actions export correctly that way.

[2019-05-01 07:43] julienduroure commented on #452
Yes, I confirm that this is intentional behavior to convert from +Yup to +Zup

[2019-05-01 07:43] #452 closed

[2019-05-01 18:13] Menithal commented on #449
Thanks, I am gonna look into tweaking the detection slightly. Specifically https://github.com/KhronosGroup/glTF-Blender-IO/blob/f12b8205284d13ebcd294abc525ff54d8d4c1663/addons/io_scene_gltf2/blender/exp/gltf2_blender_get.py#L101

I was thinking that may be the name detection instead should just be looking for "gltf" instead of 'glTF Metallic Roughness'. it is unlikely for a user to have multiple s

[2019-05-02 18:12] #240 closed

[2019-05-03 19:13] imgntn commented on #362
could also really use the ability to export shape key names, preferably without the user having to run a script in blender first! :) thanks for the great work

[2019-05-09 13:28] JonnyBlackburnCore commented on #102
I'm having problems with cameras using the latest Blender 2.8 and it's built-in gltf exporter.
It seems to create a new camera at 0,0,0, and changes my cameras into plain 3DObjects.

[2019-05-12 05:15] julienduroure commented on #102
Yes, please open a new bug report,
Don't forget to share your blend file and the glb file exported

Thanks !

[2019-05-12 16:34] MiikaH opened #457 "GLTF exporter is missing option to export primitives with UINT32 indices"
Old Blender 2.79 exported had drop menu to select whether you wanted to use unsigned short or unsigned integer indices.

glTF-Blender-IO exporter doesn't have such option and always splits primitives to `65535` index chunks. This can be problematic because it adds additional overhead for the render engine.

It seems like exporter code is ready to handle full integer indices, but is just lacking an

[2019-05-12 19:09] Lexpartizan opened #458 "custom split normals data not exported"
I smoothing mesh with normal editor blend4web.
In blender this mesh look OK.
In exported obj this mesh look OK.
In exported gltf this looks,like normals not editing.
Blend and glb files attached.
Sorry for my english.

[normals not exported.zip](https://github.com/KhronosGroup/glTF-Blender-IO/files/3170453/normals.not.exported.zip)

[2019-05-13 05:19] ERS-EIT commented on #451
I have kind of the same problem. If my model has more than one Animation and I do not sample every keyframe, the byte array in the glTF file seems to have intermediate zeroes.
So if I take a look at my keyframes (for a given joint) there are thrice as much scaling vectors in the buffer as I have timestamps. The "thrice" part might be variable. Maybe it is because I have three animations in that pa

[2019-05-13 08:54] julienduroure commented on #451
@ERS-EIT Hello,
Can you please share your .blend file?

[2019-05-13 10:51] infobeisel opened #459 "KHR_lights_punctual contains too many lights"
**Describe the bug**
the exporter seems to write too many entries into the "extensions/KHR_lights_punctual/lights" array. In my case it write 10 entries, although its a scene with one point light and nothing else:
`"extensions" : {
        "KHR_lights_punctual" : {
            "lights" : [
                {
                    "color" : [
                        1,
                        1,

[2019-05-13 13:01] julienduroure commented on #459
Hello @infobeisel ,
I can not reproduce here.
Can you please test with a recent version of Blender 2.80 beta ?
Please give us the precise version of 2.80 Beta you are using (a new beta is available every day)

Thanks !

[2019-05-13 13:44] julienduroure opened #460 "Animation export issues when DEF bones are not animated"
When Deformation bone is not animated, but is linked (directly or not) to an animated bone via a constraint. What I mean by "directly or not":
- directly: DEF bone has a constraint to an animated bone. See bug_defbone_constraint.blend file
- not directly: DEF bone is child of an animated bone, or child of a bone that have constraint. See ball file

Some thoughts of possible solution :
- try to det

[2019-05-13 14:09] infobeisel commented on #459
Hello @julienduroure ,
until now i used (from blender's system-info.txt):
`version: 2.80 (sub 57), branch: master, commit date: 2019-04-16 20:13, hash: 5d8030b8f3cf, type: Release
build date: 16/04/2019, 17:08`
now i tried it with
`version: 2.80 (sub 61), branch: blender2.7, commit date: 2019-05-12 22:25, hash: 05f1451d7248, type: Release build date: 12/05/2019, 17:30`
and now after (re)opening bl

[2019-05-13 14:14] julienduroure opened #461 "Sample animation issue when using NLA"
Issue about animation that occurs when we have to sample animation (forced by user in option, or when needs_sample return true)

Because in gltf2_blender_gather_animation_sampler_keyframes.py file, we check value of  pose_bone_if_armature.matrix_basis.decompose()

BUT:
- this value is always the same if we stash animations, and there is no active animation. See animation_case_1 file
- this value i

[2019-05-13 14:19] julienduroure commented on #459
@infobeisel I can confirm!
Thanks to be able to find how to reproduce it :)

[2019-05-13 14:26] UX3D-eckerlein commented on #445
Same issue here #440.

[2019-05-13 14:28] UX3D-eckerlein commented on #440
Same issue here #445.

[2019-05-13 14:57] julienduroure opened #462 "Principled node now has alpha and emission inputs"
Cf https://developer.blender.org/rB8f71a84496a95528303fbe0bb7c1406060353425

We have to change importer and exporter to take into account this change (this will simply the node setup :) )

[2019-05-13 14:59] SteffenDuenner commented on #462
Nice! I was just about to post this commit here :)

[2019-05-13 15:00] julienduroure commented on #424
This very recent change in Blender will maybe help us :
https://developer.blender.org/rB8f71a84496a95528303fbe0bb7c1406060353425

See #462

[2019-05-13 15:01] julienduroure commented on #425
This very recent change in Blender will maybe help us :
https://developer.blender.org/rB8f71a84496a95528303fbe0bb7c1406060353425

Cf #462

[2019-05-13 17:54] ERS-EIT commented on #451
@julienduroure Sorry I totally messed this one up myself. Nothing's wrong on your side. Please just ignore my comment. Sorry for the trouble I caused.

[2019-05-13 19:11] donmccurdy commented on #462
Wow, yes that potentially helps quite a lot. Do "Alpha Blend" and "Alpha Clip" modes still work as expected?

Was this on a roadmap we could have seen earlier? I'd asked in the dev forums a few months ago and it sounded like the answer was "maybe someday" at the time, might have saved some trouble if we'd known this. 😅

In any case, strong +1 for using the new inputs.

[2019-05-13 19:23] julienduroure commented on #462
Was a surprise for me too ;-)

[2019-05-13 19:27] emackey commented on #462
Very cool.

Via ZanQdo on the [KhronosDev](https://www.khronos.org/news/permalink/khronos-developer-slack-5bfc62eb261764.20435008) chat:  https://devtalk.blender.org/t/13-may-2019/7076

[2019-05-13 19:51] emackey commented on #457
I noticed the capability to write true 32-bit seems to be missing, not sure what happened there.

The UI combobox was removed intentionally.  We can't expect all artists to learn enough programming to know about things like integer sizes, and it's wrong to ask them on the UI.

The 16-bit splitting behavior is incorrect, though.  I think that's a holdover from when that 16-bit option on the UI used

[2019-05-13 19:56] lexaknyazev commented on #457
To keep the functionality without confusing artists, we can make an off-by-default checkbox named like "Split meshes exceeding 65K vertices".

[2019-05-13 22:04] emackey opened #463 "Tests broken in master"
@julienduroure It looks like 39173a143ee broke something in master for Blender 2.79 users (not 2.80).

https://circleci.com/gh/KhronosGroup/glTF-Blender-IO/568#tests/containers/2

[code]

[2019-05-13 22:20] dhygns opened #464 "Import Error"
**Describe the bug**
 Importing failed

**To Reproduce**
 Pressed like this and choose one of **.glb** files
![image](https://user-images.githubusercontent.com/16233724/57658008-3de84380-75ab-11e9-8156-a1c34cbd4ac6.png)

**Expected behavior**
It should import successfully.

**Screenshots**
![image](https://user-images.githubusercontent.com/16233724/57657969-12fdef80-75ab-11e9-9a01-376ca6300149.png

[2019-05-14 04:22] #463 closed

[2019-05-14 04:22] julienduroure commented on #464
This is now fixed

[2019-05-14 04:22] #464 closed

[2019-05-14 04:29] julienduroure commented on #447
#446 is now merge, this should be fixed.
Don't hesitate to comment if there is still an issue

[2019-05-14 04:29] #447 closed

[2019-05-14 04:34] julienduroure commented on #461
Some thoughts, to not forget:
[ ] Make each action active when exporting each action of the NLA?
[ ] When list of bones in animation are not identical ...

[2019-05-14 04:36] julienduroure commented on #439
Probably link to #461

[2019-05-14 04:36] julienduroure commented on #451
NLA problem probably linked to #461

[2019-05-14 04:43] julienduroure commented on #406
NLA issue is probably linked to #461

I have to test again others cases, as some animation fixed was committed since the last comment

[2019-05-14 04:46] julienduroure commented on #274
This is maybe link to issue #461 about NLA that can have some issue in some cases

[2019-05-14 04:47] julienduroure commented on #180
This is maybe link to NLA issue #461

[2019-05-14 06:58] shrinktofit opened #465 "Mismatched input/output elements count of animation sampler."
**Describe the bug**
For LINEAR and STEP interpolation method, the specification says that:

The exported gltf of the reporting blender scene is not in compliance with it. The sampler has 2 keys but 6 values.

**To Reproduce**
Export the reporting scene.

**Expected behavior**
The number output of elements shall equal to the number of input elements in animation sampler.

**Screenshots**

**.blend

[2019-05-14 08:06] julienduroure commented on #465
Hello,

Your animation in blend file is neither in LINEAR or STEP interpolation. This is bezier interpolation, so CUBISPLINE in gltf. So for each keyframe, there is 3 values, as needed.

[2019-05-14 08:06] #465 closed

[2019-05-14 13:10] #440 closed

[2019-05-14 14:04] Zool1987 commented on #424
It's great that these entrances have appeared, but GLTF exports are not working as expected. Gradient texture with transparency, after export, loses the alpha channel. We are waiting for this fix.
[alpha_test.zip](https://github.com/KhronosGroup/glTF-Blender-IO/files/3178111/alpha_test.zip)
![test](https://user-images.githubusercontent.com/10163448/57704122-fe346100-7669-11e9-9b8b-e382766d72d2.png

[2019-05-14 14:32] julienduroure commented on #424
@Zool1987 These new entrances are not taken into account in this addon yet, so please be patient, we will work on it

[2019-05-14 15:04] Zool1987 commented on #424
Thank you very much for your work, you are doing a great job!

[2019-05-15 09:35] Ali-RS opened #468 "ShapeKey keyframe animation issue"
**Describe the bug**
 1- Shapekey keyframe animation not exported when pushed as NLA track.
 2- If not push it to NLA track, it exports the animation but neither of https://gltf-viewer.donmccurdy.com/ and https://sandbox.babylonjs.com/ is able to play it.

**To Reproduce**
Steps to reproduce the behavior:
1- add a sphere to scene, from the Physics tab  add a physic "Soft body" to it
2- add a plane

[2019-05-15 14:52] cstfan commented on #447
Wonderful it works, I'm going to test with an important scene, thanks for your great work

[2019-05-15 17:40] Ali-RS commented on #393
Will appreciate if someone can apply a patch fix for this :)

[2019-05-15 17:40] Ali-RS commented on #392
Will appreciate if someone can apply a patch fix for this :)

[2019-05-15 21:51] Cyp commented on #458
Is this a duplicate of #436?

[2019-05-16 04:45] Lexpartizan commented on #458
Maybe. My english bad. I Use smooth shading, not flat.

[2019-05-16 13:09] ERS-EIT opened #470 "Animations export broken (example file)"
In the file...
[trump.zip](https://github.com/KhronosGroup/glTF-Blender-IO/files/3187156/trump.zip)
...you'll find the source (blend) and the exported target (gltf).

The source has one mesh with one armature controlling it. The armature has some deform and control bones.

When exporting the file with settings...
![exporter_settings01](https://user-images.githubusercontent.com/9727447/57855989-4c7

[2019-05-16 15:47] #459 closed

[2019-05-16 18:40] emackey opened #471 "Python API for depsgraph changed, broke tests"
The latest build of Blender 2.80 has a change to the Python API that [caused a test failure](https://circleci.com/gh/KhronosGroup/glTF-Blender-IO/580#tests/containers/1) in master.

Comparing the output of `dir(bpy.context)` from a recent build to today's build, `depsgraph` was removed and `evaluated_depsgraph_get` was added.

[2019-05-16 18:45] julienduroure commented on #471
@emackey Changes are done on blender add-on repo, I will merge it tonight

[2019-05-16 19:24] #471 closed

[2019-05-17 11:20] julienduroure commented on #470
This is probably linked to #460

[2019-05-17 11:54] Zool1987 commented on #179
Does anyone know when this will be decided?

[2019-05-17 15:25] donmccurdy commented on #179
As far as I can tell this issue is already fixed in the exporter – creating multiple UV sets and assigning them to textures works on a quick test here. If others have examples where the UV sets do not export correctly, please share them.

On the other hand, not all engines support multiple UV sets in all configurations, so that's just something you'll have to plan for depending on your use case.

[2019-05-17 15:25] #179 closed

[2019-05-17 20:56] julienduroure commented on #369
Seems this is already commited

[2019-05-17 20:56] #369 closed

[2019-05-17 21:01] emackey opened #473 "Imported normal maps become emissive"
With the latest build of Blender, the "Normal" input on the Principled BSDF node moved down a couple notches to make room for Emissive etc.  The importer picks the wrong input for normal maps now, it would seem.

/cc @julienduroure

If I get time I will try to add a test for round-tripping normals, emissive, and the others.  Only ORM is tested at this point.

[2019-05-17 21:03] julienduroure commented on #473
With the new 2 inputs of principled node (emission and alpha), index of inputs probably changed ...

[2019-05-17 21:19] #473 closed

[2019-05-17 21:24] julienduroure opened #474 "Bad animation export (a channel is written twice in gltf file)"
Exporting following file,

[light_anim.zip](https://github.com/KhronosGroup/glTF-Blender-IO/files/3193135/light_anim.zip)

glTF file is not valid, a channel is written twice (rotation on node 0

[2019-05-17 21:34] julienduroure commented on #474
Both rotation_euler and rotation_quaternion are animated in the file.
This is now a good idea, in Blender side.

Maybe we should add a check (and a warning) to avoid duplicate rotation animation export

[2019-05-17 21:39] julienduroure commented on #175
Seems this is already solved

[2019-05-17 21:39] #175 closed

[2019-05-17 21:51] julienduroure opened #475 "Bad animation export (nb of keyframes, timing)"
When exporting file in attachment, and reimporting in blender,
- there is not the same number of keyframes
- the total length of animation is not the same

[perso.blend.zip](https://github.com/KhronosGroup/glTF-Blender-IO/files/3193220/perso.blend.zip)

[2019-05-17 21:53] julienduroure commented on #475
Same kind of issue when using baked animation. The original animation is from frame 1 to 25.
Imported animation is from 1 to 22

[2019-05-17 22:01] julienduroure commented on #475
Forget it, it was an NLA issue, already reported

[2019-05-17 22:01] #475 closed

[2019-05-19 08:20] julienduroure opened #478 "T64760 : Alpha export regression"
Bug from blender repo:
https://developer.blender.org/T64760

[2019-05-19 13:22] julienduroure commented on #260
See #460
A PR #479 is currently in test

[2019-05-20 04:25] enzyme69 commented on #123
I am reading the thread... and so still pretty confused about the conclusion.

Basically I am using Blender 2.80 latest beta. Still using the Principle Shader node and then exporting to GLTF... but then found the issue like stated: no Occlusion slot. So how would be the right way so that the GLFT output correctly brings occlusion map?

Is there a special GLTF shader node now for Blender?

[2019-05-20 13:38] emackey commented on #123
@enzyme69 Any custom node with the correct name (`glTF Settings`) and input (`Occlusion`) will do.  The importer will create such a node automatically if you import something with an occlusion map, such as the [Water Bottle](https://github.com/KhronosGroup/glTF-Sample-Models/tree/master/2.0/WaterBottle) sample model.

I still plan to update the documentation, but a number of important things chang

[2019-05-20 16:18] sapiensl opened #480 "mesh.show_double_sided was removed from blender 2 days ago, crashing the exporter"
Hi!

In the newest build of Blender 2.8, the member "blender_mesh.show_double_sided" was removed due to it being "an old legacy option" (see https://git.blender.org/gitweb/gitweb.cgi/blender.git/commit/07c67148e36d95ac185c553ceacbdb6896ae46ca). This causes the exporter to crash.

**To Reproduce**
1. Take any simple blend file, the standard cube does it
2. Try to export the scene with any settings

[2019-05-20 16:55] Dok11 commented on #401
@emackey Principled BSDF is supported? Wow! What else cycles node support export to gltf? Or where I can read about this?
Huу Saturation for example? Or Wave Texture?

[2019-05-20 16:58] julienduroure commented on #480
Are you sure you are using the last build?
This change is already committed

[2019-05-20 17:01] julienduroure commented on #480
See here: https://github.com/KhronosGroup/glTF-Blender-IO/commit/b68e702e0e375399d9476b5cb57f018b89777a21

[2019-05-20 17:15] sapiensl commented on #480
oh, thank you very much! Have a nice day!

[2019-05-20 17:15] #480 closed

[2019-05-20 17:24] emackey commented on #401
@Dok11 Documentation is in progress in the Blender Manual:

https://docs.blender.org/manual/en/dev/addons/io_gltf2.html

[2019-05-20 17:34] meatN opened #481 "Support exporting constraints"
In previous version glTF-blender-exporter I use constraint - TracTo for camera object in blender
Export had correct rotation for camera object.
In new version glTF-blender-io  ignore constraint and just save parameter Transform->Rotation of camera object (which is displayed incorrect in both version Blender 2.79 and Blender 2.8 )

Does you support constraints (or special only this constraint) in n

[2019-05-20 17:35] Dok11 commented on #401
Thanks! Are there any plans do support all possible nodes for export to gltf?

[2019-05-20 17:36] Dok11 commented on #401
@emackey ^

[2019-05-20 17:46] donmccurdy commented on #481
The glTF format does not directly store Blender's constraints, but with the right settings it should be possible to 'bake' the animation with the effect of the constraints. Have you tried exporting with *Always Sample Animations* and/or *Bake Skinning Constraints* enabled? If those options don't work, could you share an example `.blend` file? You can attach ZIP files to github issues.

[2019-05-20 17:49] donmccurdy commented on #401
There is no simple answer to what "all possible nodes" would mean. For a number of reasons we would strongly encourage using the Principled BSDF node, and the Blender team is encouraging import/export tools to focus on this too. Most of Blender's material features simply don't translate into other formats or tools, and Principled BSDF is a very good representation of the most 'portable' possible s

[2019-05-20 18:14] meatN commented on #481
[test_constraint.zip](https://github.com/KhronosGroup/glTF-Blender-IO/files/3199202/test_constraint.zip)

I not use animation or skining (I check this options - it doesn't help) In attachment export with Blender 2.79 + gltf-blender-exporter (with correct camera rotation) and with Blender 2.80 (with incorrect camera rotation)

[2019-05-20 18:16] emackey commented on #401
Agreed with Don.  Also keep in mind that Blender's Cycles engine has a "Bake" panel that can bake complex node graphs to an image, given a good UV atlas.  This is helpful to glTF for the reasons Don mentions, allowing low-power and mobile clients to render the glTF in real-time, without CPU-intensive node calculations.

[2019-05-20 21:42] donalffons opened #482 "Vertex colors are not exported"
**Describe the bug**
Vertex colors of the attached model are not exported for the Suzanne model. The vertex colors on the cube work fine.

![Screenshot from 2019-05-20 23-37-53](https://user-images.githubusercontent.com/33040347/58053614-57affa80-7b58-11e9-8d07-33ed4092f978.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Open "bugreport.blend"
2. Export as GLB/GLTF
[bugreport.zip](https

[2019-05-20 23:42] robertlong commented on #165
We are also seeing large file sizes when exporting. In our case it's not due to exporting duplicate textures but instead re-encoding optimized textures.

We are running all pngs through optipng before we use them in Blender, this results in a decent reduction in file size. However, we lose all of those optimizations when exporting from Blender. It looks like Blender is converting all textures to b

[2019-05-20 23:49] robertlong commented on #428
We've noticed this as well and it has had a big impact on file size. We've wrote up our findings here:

https://github.com/robertlong/GLTFExporterTextureSizes

[2019-05-21 01:52] fire opened #483 "Maya exported GLTF2 model breaks"
**Describe the bug**
Maya exported model works in three.js, but not Blender.

**To Reproduce**
Steps to reproduce the behavior:
1. Create model in Maya
2. Export using https://github.com/WonderMediaProductions/Maya2glTF/commit/d30636ffa1a47415720cbdb9b1ad51534902c22f
3. Import in Blender https://github.com/KhronosGroup/glTF-Blender-IO/commit/fbb2c50723e5eaa2635672fedfb0f53df7d0798f
4. Breaks in Bl

[2019-05-21 02:00] fire commented on #483
[sphere_rig_advanced_broken.blend.zip](https://github.com/KhronosGroup/glTF-Blender-IO/files/3200424/sphere_rig_advanced_broken.blend.zip)

Blend file for the result.

[2019-05-21 07:50] julienduroure commented on #483
Confirmed.
Seems rest pose is OK, but problem seems to be on animation data.
Will investigate

[2019-05-21 09:44] infobeisel opened #484 "Collection object has no attribute 'layers' in gltf_blender_gather_nodes.__filter_node(..):"
when exporting and reaching the last if branch in gltf_blender_gather_nodes.__filter_node, it stops because blender's 2.8 'collection' type has no attribute 'layers'

**To Reproduce**
in my case it only reached that line when i linked a collection from another file into my blend file and then exported it.

Blender Version 2.8 21.05.2019

[2019-05-21 11:07] julienduroure opened #485 "Export bake skin does nothing"
Currently, export option "export_bake_skins" does nothing (after search in code, there is only a warning displaying that baking skin is not supported).

I am not sure what it was supposed to do, but it seems that it is really linked to my PR #479, that fix #460 bug.

Problem :
- When using complex rig, deformation bones have no animation, but there are some constraints on it, or TRS are inherent f

[2019-05-21 19:09] emackey opened #486 "Validator results not checked carefully enough"
Well, I'm sorry I didn't notice this before now.  The test suite in this project runs the glTF Validator, and it looks at some keys like `hasTextures` and `primitivesCount` to match expected values.  It also looks for the Validator's promise to be rejected, meaning that the Validator itself crashed or wasn't able to process the file being validated.

One critical piece is missing:  The test suite

[2019-05-21 19:12] emackey commented on #486
I pushed a new branch `test-num-errors` that has the missing check.  It will fail the tests on the first push, because of the previously undetected brokenness.

[2019-05-21 19:27] donmccurdy commented on #486
Hm, maybe related to https://github.com/KhronosGroup/glTF-Blender-IO/issues/482?

[2019-05-22 05:09] #228 closed

[2019-05-22 10:11] Cyp commented on #486
My guess is maybe related to #436?

[2019-05-22 10:39] julienduroure opened #489 "T64979: Weighted Normal"
Ticket from blender issue tracker:
https://developer.blender.org/T64979

[2019-05-22 16:38] donmccurdy commented on #362
I'll work on exporter implementation.

[2019-05-22 17:53] donmccurdy commented on #362
Opened https://github.com/KhronosGroup/glTF-Blender-IO/pull/491, tests and/or reviews welcome. :)

[2019-05-22 18:19] #436 closed

[2019-05-22 18:56] emkayg opened #493 "Mesh suffix yields corrupt data"
Description:
When a mesh (the mesh itself inside the object dropdown in the outliner) has a .xxx suffix, this yields in skipping this object and a corrupted output.

Additional note: this gets particularly messy and was hard to track down when many objects are selected for export. There may be potential further issues once an item is skipped, compounding errors down the line. But fixing this behav

[2019-05-22 19:04] emackey commented on #493
@emkayg I'm having trouble reproducing this in Blender 2.80, May 20th build.  What version are you using?

[2019-05-22 19:07] donmccurdy commented on #493
Can't reproduce this either. Note that using "Duplicate Linked" will intentionally export a single copy of the mesh and reuse it. When you say "corrupted output", what do you mean? Do you see a validation problem in the file, or is a mesh just missing? Including the .blend and glTF files in this issue may help (you can attach ZIP archives to comments).

[2019-05-22 19:16] emkayg commented on #493
Ugh. Go figure. Was loading a build from a few days ago. Seems fine in the latest. Well, it was fun noticing this behaviour :P Sorry everyone.

[2019-05-22 19:20] emackey commented on #493
No worries!

[2019-05-22 19:28] donmccurdy commented on #493
Sorry for the confusion! :)

[2019-05-22 19:28] #493 closed

[2019-05-22 19:51] #486 closed

[2019-05-22 19:53] emackey commented on #489
I'm hopeful that this might be a duplicate of #436 which I think got fixed today (but I didn't test the fix myself yet).

[2019-05-22 20:04] emackey opened #494 "Morphing animation export broken"
One of our test models, `01_morphed_cube` exports to an invalid glTF file.  The test suite was not catching this problem (reported in #486).  The test suite itself was corrected in #492, but as part of that fix, this problematic model was parked.

The glTF Validator reports the following error on the exported version of this model:

The model has 3 keyframes, and animates 2 channels with `CUBICSPL

[2019-05-22 20:54] ranqiz opened #495 "Transformations on export are different than in Blender."
**Describe the bug**
GLTF exporter doesn't export transformations. Every time it somehow takes a middle of the bounding box center and place it in the center of the world.
**To Reproduce**
Steps to reproduce the behavior:

Place a cube on the scene and for example move it on Z axis to 5 units, so it will be without doubt much higher than ground. You can also add to the cube a ground plane. Then ex

[2019-05-22 21:16] julienduroure commented on #494
Maybe same issue in #468 ?

[2019-05-22 21:24] ranqiz commented on #495
Hi Julien,

Take a look at grid floor on both screens, object is in different place. When I want to have a lamp on the ceiling, after export it is on the floor.

Attaching files, blend and gltf in zip. Please take a look where the grid is in Blender, and where after export. I mean not grid but model.

[GLTF_test.zip](https://github.com/KhronosGroup/glTF-Blender-IO/files/3209372/GLTF_test.zip)

[2019-05-23 04:26] julienduroure commented on #495
I can't reproduce from your blend file.
Did you see that the grid on https://gltf-viewer.donmccurdy.com/ is not displayed on world center? This is a feature on the viewer, but the glb file generated from blender is OK.

And the gltf file you provided is not generated from your .blend file! (Only 1 object in your gltf file, but 2 on you .blend).

If you have an issue with a lamp location, please op

[2019-05-23 04:26] #495 closed

[2019-05-23 15:07] emrum opened #496 "16bit texture-files over-ridden with 8-bit version, without asking"
Blender version 2.8 -- 2019-05-20
--
I tried to export as GLTF with option "Separate gltf + texture".
(in order to make it use existing textures)
Instead of using the existing PNG files the
exporter over-wrote them with 8-bit version,
without telling me anything.

**Expected behavior**
Select-box : texture export or use-existing.
Reference existing textures.
Ask for metall+roughness maps to be com

[2019-05-23 20:08] donmccurdy commented on #496
Merging with https://github.com/KhronosGroup/glTF-Blender-IO/issues/428.

A couple questions, if you'd like to follow up on the other thread –

1) Do you mean that the 16-bit source texture _on disk_ is being overwritten when you export the file? Or that the glTF file is exported with a new, 8-bit version of the same texture, with a different path?
2) Note on glTF and engine support: https://githu

[2019-05-23 20:08] #496 closed

[2019-05-24 00:46] emrum commented on #496
the textures on disk were over-written (by chosing the same directory for export).
 --

[2019-05-24 00:53] SurlyBird commented on #478
@julienduroure Any ETA on a fix for this?

[2019-05-24 15:52] emackey commented on #496
@donmccurdy That's correct.  You may recall that you contributed some logic to protect against this, but, that piece of logic [was removed here](https://github.com/KhronosGroup/glTF-Blender-IO/pull/404/files#diff-444226537cdaaa92459dad1cd814237bL162) and has not yet been rewritten.

Until this gets fixed, I recommend always exporting to a dedicated export-only folder.

[2019-05-24 17:28] julienduroure commented on #489
Closing here & in blender issue tracker, fix is now merged in blender master

[2019-05-24 17:28] #489 closed

[2019-05-24 17:33] julienduroure commented on #478
@donmccurdy @emackey :

I didn't work on exporting material yet, maybe yo ucan have a look on it?
Seems to be a **regression**. It is not working anymore on 0.9.4, but works on version (before we include version in asset generator string)

[2019-05-24 17:39] julienduroure commented on #478
Note: Generated image has no alpha channel

[2019-05-24 17:59] SurlyBird commented on #478
I can fix glTF exports by simply repacking the texture (with alpha) in VS Code, so I'm not blocked, but I definitely would love to see the return of the correct functionality. Thanks for all the hard work on this.

[2019-05-25 13:18] roxlu opened #497 "Roughness map not included when no metallic map is used."
**Describe the bug**

When you create a simple Principled BSDF setup with an Albedo, Roughness and Normal map and but no Metallic map, the generated .gltf file is missing the roughness image/material settings.

**To Reproduce**

1. Create a simple scene with a cube, add Principled BSDF material (see screenshot)
2. Export to GLTF
3. Open the GLTF which is missing the rougness image.

**Expected beh

[2019-05-25 15:47] julienduroure commented on #497
Maybe someone will confirm, but I am quite sure this is before ColorRamp node is not supported in exporter.
You have to bake your texture, and use an image texture

[2019-05-25 19:20] roxlu commented on #497
Thanks @julienduroure that's exactly the solution that I took. It would be nice if one could omit that step.

[2019-05-25 21:07] Ali-RS opened #498 "Metallic Roughness texture changes after export"
This is how my metallic roughness texture looks like:
![Warrior_marmoset_Metallic_Roughness](https://user-images.githubusercontent.com/5787647/58374596-19e71380-7f56-11e9-9e1d-a2d06fdcfb1f.png)

after exporting the model to gltf I get this :
![Warrior_marmoset_Metallic-Warrior_marmoset_Roughness](https://user-images.githubusercontent.com/5787647/58374604-397e3c00-7f56-11e9-831b-6da9e207fd3d.png)

[2019-05-26 07:05] julienduroure commented on #498
@Ali-RS Can you please share the .blend file?

[2019-05-26 07:16] julienduroure commented on #497
@roxlu glTF specification supports only color or image texture, so baking is a mandatory step. There is no plan for now to include baking into export process, because we don't want to change .blend during export process ("auto baking + auto change of the materiel" to take into account the baked texture will have impact on the .blend file).

[2019-05-26 07:16] #497 closed

[2019-05-26 07:25] Ali-RS commented on #498
Yes
[test.blend.zip](https://github.com/KhronosGroup/glTF-Blender-IO/files/3220068/test.blend.zip)

[2019-05-26 08:34] Ali-RS commented on #498
@julienduroure I found that it does work fine in v 0.9.1 but broken from v0.9.2.
So it should be one of these commits that breaks it:
2ea96343df3e4d13b7a16ef4611fd16f6acdc2ff
or
f12b8205284d13ebcd294abc525ff54d8d4c1663

[2019-05-26 12:42] BlenderSleuth commented on #439
For the simplest possible blend file that doesn't export correctly with any options (always sample and bake skinning constraints):
[basic.zip](https://github.com/KhronosGroup/glTF-Blender-IO/files/3220321/basic.zip)
The main thing is the IK constraint not being used

[2019-05-26 16:39] julienduroure opened #499 "Merge animation of rig & shapekeys of corresponding meshes"
On complex rigs, we often have:
* animation on rig
* animation on shapekeys (directly of by drivers)

On current implementation, multiples animations are created (one for rig, one for weights), because they are on different objects.
We need a way to merge these animations into a simple one if user want it (new option in UI ?)

There is no simple answer, because multiple action can be present in NL

[2019-05-26 16:46] donmccurdy commented on #499
In glTF-Blender-Exporter, we'd implemented things such that if two NLA tracks had the same name (excluding the default track names) they'd be written to a single glTF animation. That got lost in the 2.8 migration, but I think it was a pretty functional solution.

[2019-05-26 16:52] donmccurdy commented on #485
Do you have a preference between solutions 1 and 2?

My vote would be to remove the "bake bone constraints" option entirely and to focus on making sampled animation work as robustly as possible. I'm not as concerned about removing non-deforming bones in the export, especially if that makes things more complicated now.

[2019-05-26 18:15] julienduroure commented on #485
I'm OK with solution 1. I will remove the option later today after merging #479

Export only def bones --> I will not work on it soon. Maybe it can be a long term feature that can be done, but not priority for now.

[2019-05-26 18:15] #485 closed

[2019-05-26 21:11] Ybalrid commented on #499
Doing it the way @donmccurdy describe it is a simple yet effective solution to that problem. If that could be implemented in this plugin for 2.80 it would be awesome!

[2019-05-26 22:01] julienduroure commented on #460
It's now committed :)

[2019-05-26 22:01] #460 closed

[2019-05-26 22:01] julienduroure commented on #426
Now committed :)

[2019-05-26 22:01] #426 closed

[2019-05-27 00:43] #362 closed

[2019-05-27 14:36] roxlu commented on #484
@julienduroure would this be a super easy fix by just adding a check if the `layers` attribute exists?

[2019-05-27 18:29] roxlu opened #500 "Duplicates of linked collection not exported."
**Describe the bug**
When you create a collection in `A.blend`, then create `B.blend` and link this collection, then create a duplicate of the instance, the duplicated instance is not exported.

**To Reproduce**
See _describe the bug_

**Expected behavior**
Each instance should be exported as node in GLTF.

**Version**
 - OS: Arch Linux 5.1.4
 - Blender Version: 2.8, 2019-05-25

**Additional conte

[2019-05-27 19:11] roxlu commented on #500
For anyone who runs into this issue, I found a workaround for the time being. 1) Exprort to FBX, then use 2) https://github.com/facebookincubator/FBX2glTF

[2019-05-28 07:17] BlenderSleuth commented on #439
Ok the latest change #479 fixes the IK constraint issue, so now it's just the multiple actions NLA issue #461

[2019-05-28 13:01] julienduroure commented on #484
Layers are removed from blender 2.8
@emackey : Do you know why, when you worked on polish exporter options, you kept a reference to layers, even if the option is no more available in UI ?

[2019-05-28 13:45] emackey commented on #484
I think that option got overlooked because it is [commented out](https://github.com/KhronosGroup/glTF-Blender-IO/blob/8bc4b5a174ec1a868533782297d0b9668c149f39/addons/io_scene_gltf2/__init__.py#L208-L212) and wasn't visible when I was looking at the export UI.  Safe to remove it.

[2019-05-28 13:53] emackey opened #501 "Import support for glTF's doubleSided flag"
Can we add import support for doubleSided for Blender 2.80?

I think this is a one-line change, around line 51 in [imp/gltf2_blender_material.py](https://github.com/KhronosGroup/glTF-Blender-IO/blob/ecb1fc4cd5ab543b5e3e6b92d22e58f422f3862d/addons/io_scene_gltf2/blender/imp/gltf2_blender_material.py#L51)

[code]

This only works in 2.80, of course.  I don't much care about adding support to 2.79, s

[2019-05-28 14:03] julienduroure commented on #501
Here is the syntax:

[code]

[2019-05-28 14:09] julienduroure commented on #498
@emackey : Seems to be related to your commit. Do you have time to have a look on it?

[2019-05-28 14:09] emackey commented on #498
If you're not using an occlusion channel, there is no need for this exporter to preserve the red channel.  The exporter will assemble occlusion, roughness, metallic from separate grayscale images if need be, and the final result is expected to be different from the source images.

That said, there is a separate desire to have the exporter preserve original image encoding whenever possible, and tha

[2019-05-28 14:12] emackey commented on #501
Thanks!  I'll open a PR with some associated tests when I get a chance.

[2019-05-28 14:19] julienduroure commented on #478
@emackey : This seems to be linked to texture export you commited/you are involved on. Do you have any time to have a look on it?

Note: We've got another blender issue open regarding alpha export, that is probably same issue : https://developer.blender.org/T65234

[2019-05-28 15:06] emackey commented on #478
Also reported in #425.  I'll take a look.

[2019-05-28 15:59] #484 closed

[2019-05-28 16:03] #501 closed

[2019-05-28 16:12] julienduroure commented on #107
Seems we can close this one, reference to layers are removed, and dupli_group is now managed in 2.8 too, with dupli_collection

[2019-05-28 16:12] #107 closed

[2019-05-28 18:24] julienduroure commented on #500
I started to have a look on it.
Some thoughts about it (for myself, to not forgot)

* instances are used for dupli instance and for linking instances
* Need to invalidate the cache to get a new node, to avoid having same node multiple time in scene tree
* Have to check how it will work for armature instances (proxy)
* Check that nodes are not in scene root
* instance offset seems to not work as ex

[2019-05-29 17:17] #354 closed

[2019-05-29 18:21] tiancaipipi110 opened #505 "Unable to export gltf."
Hi, this model <a href="https://drive.google.com/open?id=10aZzi6RfDbDCYD-UloraL3SNOriVX9qT">Donut</a> copyright Jun Wang, with multiple actions, is unable to be exported .gltf with Blender 2.8.

However <a href="https://github.com/KhronosGroup/glTF-Blender-Exporter"> gltfBlExporter</a>, <a href="https://github.com/Kupoman/blendergltf">blenderGltf</a>, are both able to export ONE animation correctl

[2019-05-29 19:06] julienduroure commented on #505
This is a duplicate of #461

+ some other minor

[2019-05-30 01:48] tiancaipipi110 commented on #505
Alright will bake them till fixed.

[2019-05-30 08:32] roxlu commented on #500
Thanks @julienduroure awesome you're looking into this.

I dove into Blender/Python a bit and got a very simplistic exporter working that fits my needs. I'm sure everything in that code is familiar to you, but maybe there are some parts that might be interesting. Especially because it works with linked files/collections/etc.

https://gist.github.com/roxlu/a3ec74d3e214526c026bdc06adc24117#file-expo

[2019-05-30 12:53] optimus007 opened #508 "Gltf export animation not same as Blender rotation animation"
**Gltf export rotation animation not same as Blender rotation animation**

Recently stared working with gltf. Everything was going good until this issue.
was wondering if there are any fixes or workaround this issue
-any kind Rotation animation export gives these problems
-with bones and without bones same problem.
![Capture](https://user-images.githubusercontent.com/6885294/58633938-989dd100-8307

[2019-05-30 14:50] julienduroure commented on #508
Hello,

Please always provide an example .blend file, without it, we are not able to investigate or reproduce it

[2019-05-30 14:53] julienduroure commented on #508
Seems everything looks fine after your last tests, so closing this ticket. Don't hesitate to comment and reopen if needed

[2019-05-30 14:53] #508 closed

[2019-05-30 19:38] #425 closed

[2019-05-30 19:38] #428 closed

[2019-05-30 19:38] #478 closed

[2019-05-30 21:42] mikejsavage opened #509 "Model animation imports incorrectly"
Only one part of the model animates, the same model animates correctly on https://gltf-viewer.donmccurdy.com/

**Screenshots**
![image](https://user-images.githubusercontent.com/579299/58666501-c1d45680-8333-11e9-9235-4c27043cfc4b.png)

**.blend file/ .gltf**
[bigvic.zip](https://github.com/KhronosGroup/glTF-Blender-IO/files/3238846/bigvic.zip)
Also contains the FBX which I converted to glTF

**Ve

[2019-05-31 06:21] optimus007 opened #510 "How do i export mesh with alpha transparency in blender 2.79"
I'm using blender 2.79 experimental and official build with latest gltf addon and was wondering if alpha image support is available since documentation only mentions method to add alpha in blender 2.8

I've tried both previously known methods and they do not work

![clouds](https://user-images.githubusercontent.com/6885294/58683273-823c5780-8391-11e9-8f49-39b46532c42f.png)
![clouds2](https://user-

[2019-05-31 08:14] julienduroure commented on #509
Probably duplicate of #331

[2019-05-31 12:55] oxplay2 commented on #451
i just now struggle with this, i will try update exporter to new version to see if it was fixed.

for me it was always sampling "default dope sheet NLA track" only, so every action i had was same animation as "default dope sheet NLA track". if i had no animation in "default dope sheet NLA track", then all animations were empty, doing nothing.

[2019-05-31 13:05] julienduroure commented on #451
@oxplay2 What you are describing is same issue as #461
We are currently testing the fix (#507), so this is not yet in master. Should be done in following days / weeks.

[2019-05-31 13:07] oxplay2 commented on #451
oh, thanks :) will wait. hope it will be quick.

[2019-05-31 14:00] emackey commented on #510
Not sure what the history is here, at some point this must have been supported at least via the old custom node setup.  But the code today looks like 2.79 users have no option for that:

https://github.com/KhronosGroup/glTF-Blender-IO/blob/ddb58decdbf56d25259487fa668926af2d8a9766/addons/io_scene_gltf2/blender/exp/gltf2_blender_gather_materials.py#L88-L90

I've been spending every free moment of ti

[2019-05-31 14:59] mikejsavage opened #511 "An empty node is added for any armature at export"
**Describe the bug**
If you export and reimport any model it adds a new armature to the hierarchy

Additionally with [bigvic.zip](https://github.com/KhronosGroup/glTF-Blender-IO/files/3241743/bigvic.zip) it deletes the animations

**Expected behavior**
Exporting and reimporting should give the original model without extra armatures or deleting the animations

**Version**
 - OS: Linux
 - Blender Ve

[2019-05-31 15:11] julienduroure commented on #511
Hello,
Please provide a .blend file to be able to reproduce exporting then importing.
I can't reproduce for now, there is no second armature added.

About "delete the animations" : When ? In glb exported, or after re-importing?

[2019-05-31 15:30] germanafro opened #512 "is this an issue with inverse kinematics?"
**Describe the bug**
the whole model comes out rather scrambled when used in Aframe

**To Reproduce**
Steps to reproduce the behavior:
1. export to gltf 2
![export settings](https://user-images.githubusercontent.com/29311694/58716173-b8e19480-83c8-11e9-96b2-c852a72ea070.png)
2. import as asset
`<a-asset-item id="robot_arm1_model" src="assets/robot_arm/robot_arm1.gltf"></a-asset-item>`
3. use asset

[2019-05-31 15:32] Cyp commented on #510
Random untested guess:
[code]

[2019-05-31 15:40] emackey commented on #510
Don't change the `if bpy.app.version < (2, 80, 0)` formatting, it's used by a [python script](https://github.com/KhronosGroup/glTF-Blender-IO/blob/master/tools/convert_to_strict_2.80.py) to convert the source code to strict 2.80 code for inclusion in the Blender Addons repository.

But yes, something like the rest of the code you show would likely get the old custom nodes working again.

In other

[2019-05-31 16:09] mikejsavage commented on #511
Sorry, I don't know blender terminology too well. I've made some videos:

https://streamable.com/eaeh4 - I import/export/reimport the model and you can see in the top right it has added an extra armature to the model
https://streamable.com/s9v4t - I import/export/reimport the model and it no longer animates

Here is a zip of the glbs: [models.zip](https://github.com/KhronosGroup/glTF-Blender-IO/fi

[2019-05-31 16:35] julienduroure commented on #512
You have to use "force sample animations" if you want bake bone constraints on your animations.

[2019-05-31 16:35] #512 closed

[2019-05-31 16:38] julienduroure commented on #511
Hello,
This is not adding an another armature, but an empty named "Armature".
I don't have the history why the armature is not directly linked to the parent, but I will check it.
This is how it is working at export for now. Setting as enhancement, as there is no visible error in mesh / rig / animation

[2019-05-31 17:16] danielrea opened #513 "Animation export is warped"
Hi,
When I export from blender and try and load in babylon or threejs I get 100's of these errors:

[code]

as well as a couple of these

[code]

My animation is very messed up especially in Threejs it looks like this:
https://gyazo.com/227afaf814816e2f0c1301e0fe6a846b

however if i keep letting the animation run it fixes itself and then breaks again:
https://gyazo.com/8f0056bf7c9b888e40b419300161

[2019-05-31 17:23] julienduroure commented on #513
Hello,

As described in the issue template, please provide:
* the .blend file
* the exact version of blender you are using
* the version of the addon you are using

Without it, we are not able to reproduce your issue

[2019-05-31 17:27] danielrea commented on #513
Blend File: https://drive.google.com/file/d/1oL20kznEW9MghynAEBAR5ZWlZHR-QnGd/view?usp=sharing

Tried with version 2.79b and also 2.80 with the same issue.

Version of addon is the included version with 2.80 and for 2.79 b was with "version": (0, 9, 14),

[2019-05-31 17:53] mikejsavage commented on #511
Should I file a separate issue for the second video? Missing the animations is not just a cosmetic issue

[2019-05-31 18:22] julienduroure commented on #513
About ACCESSOR_ANIMATION_INPUT_NEGATIVE:
You have some keyframes on negative frames. When you remove them, no more error.

[2019-05-31 18:25] julienduroure commented on #511
@mikejsavage. Sorry, I missed this second part of the report. It seems to be an importer issue, because it seems to be OK with external glb viewer.
SO yes, please fill another issue with importer issue.

Thanks for your help :)

[2019-05-31 19:10] #461 closed

[2019-05-31 19:38] donmccurdy opened #514 "Sampler inputs in non-ascending order"
[RobotExpressive.blend.zip](https://github.com/KhronosGroup/glTF-Blender-IO/files/3242657/RobotExpressive.blend.zip)

Testing an export with the latest fixes, this model displays correctly in BabylonJS but not yet in three.js. There's one issue in threejs to be fixed, but also a minor problem with the export – some sampler inputs are not in ascending order. If you open the model on https://gltf-vi

[2019-05-31 20:39] donmccurdy commented on #514
Hm,

[2019-05-31 20:39] #514 closed

[2019-05-31 20:57] danielrea commented on #513
This was fixed for me by using Sample Animations export option with Blender 2.80.

Thanks for the help.

[2019-05-31 20:57] #513 closed

[2019-06-01 04:30] optimus007 commented on #510
i'm using a old system which doesn't support 2.8...will switch to it once everything is ready...
so no need to fix if its not supported ...
principled bsdf with alpha and emitter nodes inbuilt should simplify everything for the future

[2019-06-01 07:55] #439 closed

[2019-06-01 08:24] BlenderSleuth opened #516 "Sharp edges and autosmooth corrupt export with skinning enabled"
**Describe the bug**
When using the  Auto Smooth and marking edges as sharp, as discussed in #73, and exporting with an armature, the exported gltf is corrupted (tested with importing to blender, https://sandbox.babylonjs.com/ and https://gltf-viewer.donmccurdy.com/).

**To Reproduce**
Steps to reproduce the behavior:
Download basic project:
[autosmooth_test.zip](https://github.com/KhronosGroup/gl

[2019-06-01 09:25] julienduroure commented on #505
Seems the filr on google drive is no more accessible, so I can't test again, but the problem should be solved

[2019-06-01 09:26] #505 closed

[2019-06-01 09:29] julienduroure commented on #470
Issue is now solved

[2019-06-01 09:29] #470 closed

[2019-06-01 09:32] julienduroure commented on #433
Everything seems to be OK now. When exporting, don't forget to enable "Always sample animations" to bake the constraints on your rig.

[2019-06-01 09:32] #433 closed

[2019-06-01 10:01] oxplay2 opened #517 "[Blender 2.8]Selected object export - Collection disabled - Error - not in view"
did not found related issue, please close if there is one.

Description:
**For exporter Selected object param ONLY:**

In my Scene view list when i have hidden Collection(disabled checkbox) with bezier curves(i got them for hair construct) it throw error like below.

if i have it visible, no error is thrown and everything is properly exported.

expect it work for hidden Collection too.

error:

Sc

[2019-06-01 11:46] oxplay2 commented on #203
the more problem i had with animation export performance. i can take even 5-10 minutes for me with 10 animations.

[2019-06-01 12:07] mikejsavage opened #518 "Animation not imported correctly"
**Describe the bug**
The attached model loses its animations when imported to blender but works in other viewers

(see also https://github.com/KhronosGroup/glTF-Blender-IO/issues/511)

[bigvic2.zip](https://github.com/KhronosGroup/glTF-Blender-IO/files/3243735/bigvic2.zip)

[2019-06-01 17:55] #451 closed

[2019-06-01 20:26] #518 closed

[2019-06-01 21:24] julienduroure commented on #406
Everything seems to work now.
Don't hesitate to comment, open again this ticket, or create a new one if you found some (other) issue.

[2019-06-01 21:24] #406 closed

[2019-06-01 21:37] julienduroure opened #520 "Importing morph anim in CUBISPLINE"
Not working

[2019-06-01 21:45] julienduroure commented on #494
@emackey I opened a PR fixing this issue : #521

[2019-06-02 00:57] emackey commented on #203
@oxplay2 Can you zip up a sample `.blend` and drag it in here?

[2019-06-02 01:27] #520 closed

[2019-06-02 03:19] julienduroure commented on #468
Developer notes:
I pushed a first fix (743d6007594786358bfcb56cdd819a09113ea609) about checking force sampling or not.
Remaining fix to be done: When animation on SK, we need to sample all SK, not only SK that are animated. Maybe we can use non_keyed_values or other similar system

[2019-06-02 13:21] mikejsavage commented on #518
Nice, thanks for the fast fix!

Loosely related, would it cause problems if the importer didn't rename things? Like the `name = animation.name + "_" + obj.name` line. I was hoping to refer to animations/materials by name in my engine and the renaming makes that difficult

[2019-06-02 13:58] julienduroure commented on #518
Hello,

Things can be done, but not 100%. Because in gltf, an action can apply on multiple nodes, than can be on different armatures / meshes, and blender action are different, so action named have to be different.

This will need a bit of refactoring. Priority is currently done on fixing bugs, but at long term, we can improve naming

[2019-06-03 08:30] alexGuntha commented on #406
[bonhomme.zip](https://github.com/KhronosGroup/glTF-Blender-IO/files/3246543/bonhomme.zip)

These are my last results:
=>In blender 2.79, animations are exported but rotations are slightly wrong (see bonhomme_blender2_79.glb)
=>In blender 2.8, I can see the animations' names in [https://gltf-viewer.donmccurdy.com/](url) but they don't play at all. (see bonhomme_blender2_8.glb)

The source .blend f

[2019-06-03 12:35] SaschaBrunnerCH opened #523 "Exporter support extension "MSFT_lod""
**Is your feature request related to a problem? Please describe.**
The [ArcGIS JS API](https://developers.arcgis.com/javascript/latest/guide/visualizing-points-3d/index.html) supports to load gltf. For performance reason this API supports LOD's through the "MSFT_lod" extension.

**Describe the solution you'd like**
It would be great if the exporter supports creating and writing the [extension MSFT

[2019-06-03 16:57] donmccurdy commented on #523
Unfortunately I don't think we should implement the `MSFT_lod` extension, but should wait until a Khronos (KHR_) or multi-vendor (EXT_) extension has been created. See https://github.com/KhronosGroup/glTF/issues/1045.

[2019-06-04 04:42] julienduroure commented on #406
@alexGuntha This seems to be a different problem, I will open a new issue about that.

Note that your armature object have some none default rotation and scale, that is always a very bad idea in Blender (don't know yet if the is related or not)

[2019-06-04 04:46] julienduroure opened #525 "Armature not exported as armature + some issues"
In following example:

- [x] Armature is not exported as armature in 2.80, but does in 2.79
- [ ] Animations are not exported correctly
- [ ] Importing seems to be broken too (result is better in external viewer)

Be careful, armature object has not default rotation & scale.
I will try to create a new example .blend file with default TRS to work on it, because this is a very bad idea to not have d

[2019-06-04 04:47] julienduroure commented on #406
See #525

[2019-06-04 11:25] julienduroure commented on #498
@emackey: Now that #506 is merged, maybe this ticket can be closed?

[2019-06-04 12:09] Ali-RS commented on #498
@julienduroure seems not resolved yet, please see the `Stuff still needs doing:` in this post:

https://github.com/KhronosGroup/glTF-Blender-IO/pull/506#issue-283435093

[2019-06-04 18:44] genbod commented on #517
I just experienced the same bug but the object that is "not in the View Layer" is not hidden.  In my case I linked a scene and tried to copy and paste an object and I would get the same error.  All the existing objects export to glb just fine if I hide everything else and only export selected.  I finally deleted the copied object and recreated it in the original scene, but I get the same error.  I

[2019-06-04 19:00] genbod commented on #517
I played with it some more and it looks like creating additional scenes breaks the exporter.  Basically I could only export from the second scene.  Any time I tried to deslect everything from the second scene and export a selection from the original scene I would get this error. Once I moved everything into the original scene and then deleted the second scene I was able to once again export any se

[2019-06-05 10:57] infobeisel opened #528 "light strength/energy parameter export, unexpected behaviour"
when exporting a light, for instance a point light, the intensity/energy/strength parameter is not the one one would expect with the current blender configuration, for example:

working with **Cycles Render** ,
enabling **Use Nodes** on the point light,
**exporting** the scene,

it (correctly) takes the 'Color' value from the Color input in the Emission Node,
but it takes the **Energy** value from

[2019-06-05 17:02] julienduroure opened #529 "Animation export without target node"
From #515

It seems that the following blend file export a target without any node

[open-book-gltf-issue.zip](https://github.com/KhronosGroup/glTF-Blender-IO/files/3258214/open-book-gltf-issue.zip)

[2019-06-05 19:25] julienduroure commented on #529
Seems that caching system is NOT working properly on bpy.types objects (as @pjoe already suspect it). This is the root cause of this issue.
So we will have to work on a workaround (passing only names ?)

[2019-06-05 19:31] emackey commented on #529
The cache is implemented in [gltf2_blender_gather_cache.py](https://github.com/KhronosGroup/glTF-Blender-IO/blob/master/addons/io_scene_gltf2/blender/exp/gltf2_blender_gather_cache.py), maybe it could be modified to detect bpy objects and cache by their names?

[2019-06-05 19:39] pjoe commented on #529
Yeah a general handling of this would be best. Caching currently seems very fragile, I also had problems with functions taking list or dict params as those cannot work as part of cache keys.

[2019-06-05 20:07] julienduroure commented on #525
Armature export but is linked to a blender API bug. I reported it here : https://developer.blender.org/T65544

[2019-06-05 20:09] julienduroure commented on #494
This is now merged

[2019-06-05 20:09] #494 closed

[2019-06-05 20:24] julienduroure commented on #374
@donmccurdy Didn't test with old version, but animation export looks to be OK now with last version.

[2019-06-06 06:14] jinkumak opened #530 "Blender 2.8 GLTF Export Error (New file without changes)"
**Describe the bug**
Blender 2.8 GLTF Export Error

**To Reproduce**
1. Open Blender 2.8
2. Try to GLTF Export
3. See error

**Screenshots**
![image](https://user-images.githubusercontent.com/26301861/59010002-b8cf1200-886a-11e9-90e6-3756e18e67db.png)

**Version**
 - OS: windows 10
 - Blender Version [ 2.80 ]

[2019-06-06 06:25] SaschaBrunnerCH commented on #523
Ok. Thanks for the answer. At the moment it looks that there is no Khronos (KHR_) or multi-vendor (EXT_) extension on the way?

[2019-06-06 11:02] julienduroure commented on #530
Hello,

Sorry, I can't reproduce with latest build.
Can you please tell me what exact version of blender 2.80 you are using, and what version of the addon you are using.
Please also test with latest build, and with factory settings

[2019-06-06 17:24] donmccurdy commented on #523
There is discussion and a request for feedback in the issue mentioned above. But until the extension is complete we likely wouldn't implement it here, no.

[2019-06-06 17:24] #523 closed

[2019-06-06 19:04] SaschaBrunnerCH commented on #523
Thanks for the feedback.

[2019-06-06 20:12] emackey commented on #530
It looks like you need a newer build of Blender 2.80 Beta.  The bottom of your call stack in your screenshot names a missing material setting `use_backface_culling`, they just added this a week or so ago.

[2019-06-06 20:12] #530 closed

[2019-06-06 23:48] jinkumak commented on #530
Thank you for your mail.

    On Friday, 7 June, 2019, 5:12:45 am GMT+9, Ed Mackey <notifications@github.com> wrote:

It looks like you need a newer build of Blender 2.80 Beta. The bottom of your call stack in your screenshot names a missing material setting use_backface_culling, they just added this a week or so ago.

—
You are receiving this because you authored the thread.
Reply to this email d

[2019-06-07 08:21] ghost opened #532 "Export Draco Compression Rate Problem compared to gltf-pipeline"
Hello,
There's an important compression rate difference between the Blender gltf output and gltf-pipeline's. Without any texture, not environmental texture and only one material, I have a 21MB (with Blender Draco Exporter) and 1,8MB (with Draco gltf-pipeline) from a 60MB model (default GLTF).

I made sure it was only geometry.

**To Reproduce**
In my tests, I exported two gltf, one draco gltf, one

[2019-06-07 10:19] felixmariotto opened #533 "Parent of armature get moved when exported SOMETIMES"
**When I export an object parented to an armature with bone, sometimes the object is incorrectly positioned in the GLTF,** unlike the armature which is at the right position. When I say sometimes, I must elaborate : with other files seemingly identical it happens every time I export, and with some files it does not happen...
**This does not happen when I try to export the same bugy file with glTF-

[2019-06-08 04:41] julienduroure opened #534 "Bad blender version check"
Some bad version check on gltf2_blender_get.py file. That leads to error on blender repo, because the conversion script don't handle these version check correctly

[2019-06-08 11:41] nabarun1011 opened #535 "Getting Error on Importing A gltf file That I imported using blender 2.8"
**Describe the bug**
Everytime I am exporting my animated mesh to gltf, it is giving me an error. And not showing bones correctly and all animation actions are also not getting exported at first. For some mesh it exports all actions without any problem, but for some it doesn't.

**To Reproduce**
Steps to reproduce the behavior:
1. Export The Blend file I uploaded as gltf.
2. Make settings for an a

[2019-06-08 22:01] pafurijaz opened #536 "No modifier applied"
**Describe the bug**
I tried to export the file attached but time ago I had a success the exporting of intersecting planes are not supported in this particular case.

**To Reproduce**
Try to export the file attached, I have more files with problems if is useful I can share..

[Stingray.blend.zip](https://github.com/KhronosGroup/glTF-Blender-IO/files/3268960/Stingray.blend.zip)

**Version**
 - OS:

[2019-06-09 11:26] julienduroure opened #537 "T65650 : Deleted object is exported"
Bug from blender repo https://developer.blender.org/T65650

[2019-06-09 11:34] julienduroure commented on #532
@UX3D-nopper @McNopper can you please have a look on it?

[2019-06-09 12:16] UX3D-nopper commented on #532
Yes, we will have a look at it next week.

[2019-06-10 11:50] elbobo opened #538 "Colors are not exported when using 'Mix' node combining color and image texture"
Hi, I am trying to create a material that mixes an image with a color. I am using the 'mix' node. The mix works as I would expect in blender but when exporting, the texture remains but the color is lost.

**To Reproduce**
Open attached blender file, you can see material with baseColor of type 'Mix' mixing an image texture with a color. below is what I see in the nodes in shading.

![mix nodes](htt

[2019-06-10 15:57] jjcasmar opened #539 "Full animation timeline export"
I am trying to export a blend file which contains several actions. Those actions starts at some random value and end before the end of the timeline, at 100.

When you play this in Blender, all actions are played until frame 100, extrapolating after the last keyframe, which happens before frame 100. Then, it goes back to frame 1 and starts playing all the animations again, extrapolating the first k

[2019-06-10 16:17] donmccurdy commented on #539
If each action is exported as a separate animation, it's up to the application to decide whether to play all clips at once, whether to loop them, whether to trigger animations from in-game events, etc. From the file you've provided, an engine certainly _could_ loop all the animations in a 100 frame cycle, but it's more common in general viewers to loop each animation separately (based on each anim

[2019-06-10 16:35] jjcasmar commented on #539
The first solution is the one I'm considering right now. I was thinking on adding an option to the exporter to automatically add a keyframe at the end of the timeline. The problem is that that only works if you have one set of actions. If you have two sets, it may be incorrect.

Merging animations in the engine before playback wont work as we have lost the information that the total length is 100

[2019-06-10 16:55] donmccurdy commented on #539
Hm, I don't think we should have that built into the exporter – NLA tracks are a more appropriate method. But you can certainly add frames yourself before export, and assign different lengths to different actions.

Right, this assumes that you know something about how you want to play the animation in your application, or store that in a Custom Property and read it from the app, or something like

[2019-06-10 17:15] pennomi opened #540 "AutoSmooth normals do not export correctly"
**Describe the bug**
The AutoSmooth normals feature does not export correctly, even with "Apply Modifiers" selected.

**To Reproduce**
Steps to reproduce the behavior:
1. Download and open the attached Blend file.
2. Export as GLB.
3. Open in a GLTF viewer of your choice
4. The file's normals are all smoothed, instead of having sharp edges where the AutoSmooth feature shows they should be in the B

[2019-06-11 07:19] #534 closed

[2019-06-12 10:57] jitspoe opened #542 "Option to export vertex colors as non-color data"
I'm currently using vertex colors as data, so I want to preserve the raw values as I enter them in blender.  For example, I might use one color channel to determine how much sway foliage has for a vertex shader.  However, if I enter 0.5, for 50% sway, after the sRGB->linear conversion happens, I end up with a value of ~0.22, meaning I have to compensate for this when I color the verts, or I have t

[2019-06-12 18:57] julienduroure commented on #537
First analysis : Object is not deleted because the object is still in a not instanced collection called Collection.001

[2019-06-12 19:03] julienduroure opened #543 "T65622: Traceback when exporting"
Issue from blender tracker : https://developer.blender.org/T65622

[2019-06-13 06:31] jitspoe commented on #331
It seems the exporter creates a separate armature for each mesh.  Here I have 2 meshes on a single armature:

![image](https://user-images.githubusercontent.com/7751182/59408456-150dc680-8d82-11e9-8645-a43af271bf48.png)

After exporting to glTF and importing in Godot, I have 2 armatures.  All the bones and animation data appear to be duplicated in each armature:

![image](https://user-images.githu

[2019-06-13 06:50] jitspoe commented on #260
I also really need this.  Using rigify ends up exporting a TON of bones, and Godot struggles with all of them.  The better collada exporter has an option for this but I'd prefer to use glTF since the files are like 1/40th the size and better collada doesn't work in 2.8.

[2019-06-13 09:50] julienduroure commented on #260
Hello,
I know this is a required feature. This is on our TODO list, but I can't say when it will be implemented.

[2019-06-13 10:54] zebus3d opened #544 "Not have attribute channels"
Error: Not have attribute channels.

can fix in file blender/exp/gltf2_blender_gather_imagel.py line 158
add:

[code]

[2019-06-13 10:58] julienduroure commented on #544
As requested, please provide a file to reproduce the error. Without it, we are not able to work on your issue

[2019-06-13 11:08] zebus3d opened #545 "NoneType Object has no attribute pixels"
NoneType Object has no attribute pixels

you can fix in file blender/exp/gltf2_blender_image.py in line 46

[code]

[2019-06-13 11:17] julienduroure commented on #545
Hello,
As requested in bug template, please provide a file to be able to reproduce the issue.
If you want to provide some code, please open a PR.

As is, we don't know what to do with your report

[2019-06-13 11:55] iirelu opened #546 ""Apply modifiers" option does nothing"
When exporting meshes with modifiers, the "Apply modifiers" option doesn't actually apply any modifiers. The original mesh is the only thing exported.

Reproduce by putting a bevel modifier on a cube and exporting to glb/gltf with "Apply modifiers" on. The resulting gltf file has the cube's original geometry instead of the modified geometry.

Blender 2.80.190609.030c7df19da9-1, glTF exporter 0.9.2

[2019-06-13 12:17] julienduroure commented on #546
Hello,
Thanks for reporting.
This is a know issue, duplicate of first part of #525 , and #536

[2019-06-13 14:20] Vinc3r commented on #540
thanks for the "Add Custom Split Normals Data" button tip, a lot more useful than applying an edge split modifier :p

[2019-06-13 21:21] julienduroure commented on #535
Hello,

This is a duplicate of #474
On your bone "Spine", you have keyframes on quaternion AND on Axis angle. This is not recommanded to have keyframes on different rotation type. If you want to export, delete keyframes from Axis-angle.

In #474, we will enhance exporter to avoid this non valid gltf file generation
Thanks for reporting it!

[2019-06-13 21:25] #529 closed

[2019-06-13 21:43] #540 closed

[2019-06-13 21:45] julienduroure commented on #546
Fixed by #547

[2019-06-13 21:45] #546 closed

[2019-06-13 21:45] julienduroure commented on #536
Fixed by #547

[2019-06-13 21:45] #536 closed

[2019-06-14 13:56] meatN opened #549 "Export wrong normals"
**To Reproduce**
1. Import glTF-sample model BrainStem -- https://github.com/KhronosGroup/glTF-Sample-Models/tree/master/2.0/BrainStem -- in Blender 2.8 (I use .glb format)  -> all looks good
2. Export this model as .glb format
3. See result in gltf-viewer -- https://gltf-viewer.donmccurdy.com -- -> normals broken

All import and export setting is default
Blender 2.8 version from 13 June

[2019-06-14 14:01] emackey commented on #538
As a portable format, glTF does not include Blender's entire node system.  glTF includes simple colors or textures for PBR channels such as Base Color, Metallic, Roughness, Emissive, and Normal Map.  So the exporter can handle a couple of different node configurations by locating the correct texture to export, or even merging separate channels (metallic and roughness) together into an image with g

[2019-06-14 14:02] #538 closed

[2019-06-14 14:06] meatN commented on #481
Is any activity on this question?
I have to use "Apply - visual trasform" option for object with "TracTo" constraint all the time, when I change it position ( I really often use this constraint for camera and lamps)

[2019-06-14 14:33] julienduroure commented on #549
Hello,
We pushed some fixed yesterday, so can you please test again with build >= June 14th

[2019-06-14 14:37] meatN commented on #549
I have tested it right now (From Blender About -> Version 2.80 (2.80 2019-06-14, Blender Foundation))

[2019-06-14 15:19] meatN commented on #549
Sorry)) my fault - in new version of Blender export seems to work - I see normals in gltf-viewer
Not see correct normals in my viewer)) but for sure - its my bug

[2019-06-14 15:21] julienduroure commented on #549
Ok, thanks !

[2019-06-14 15:21] #549 closed

[2019-06-14 17:59] donmccurdy commented on #542
Let's start with the question about whether `color_srgb_to_scene_linear` is correct. Vertex colors in glTF are supposed to be linear, and I'm fairly confident Blender's Python API is returning sRGB values (even though it's _hopefully_ using linear values internally). I haven't found that documented anywhere, but testing seems to confirm below.

I'm not sure why you think the conversion is backward

[2019-06-15 09:03] jitspoe commented on #542
I apologize.  For some reason I had myself fully convinced that when you go from sRGB->linear that things get brighter (using a < 1.0 exponent value).  Lots of misleading images out there.

![linear_vs_srgbgamma-1000x711](https://user-images.githubusercontent.com/7751182/59548910-630e0000-8f23-11e9-92df-1225d36b3cdf.jpg)
![Linear Lighting-0](https://user-images.githubusercontent.com/7751182/595489

[2019-06-15 09:15] lexaknyazev commented on #542
glTF supports custom per-vertex data as custom attributes. Blender supports vertex data painting, so there should be a way to pass such values without treating them as colors. I'm not sure whether the exporter supports this workflow, though.

[2019-06-15 13:51] emackey commented on #542
So, this issue could be considered a feature request for an option to treat vertex colors as non-color data?

[2019-06-15 13:53] emackey commented on #542
And if so, would it still export to `COLOR_0` or should it export to a custom attribute?

[2019-06-15 20:54] donmccurdy commented on #542
Yeah, we should think of this as a feature request for non-color data. An option labeled "my colors are already linear" would be confusing, since Blender doesn't use them that way. My thought on how to support this would be to:

(1) Require users to rename the vertex attribute to something other than Blender's default (`Col`).
(2) Store the renamed attribute with that custom name – not `COLOR_0` o

[2019-06-16 05:31] jitspoe commented on #542
I'm importing the gltf files into the Godot engine.  I'm not sure if it supports custom vertex data or not.  There is custom data that can be passed to the shader (typically for particles), but I don't know if the importer reads it.

Honestly, I'm fine if you just close this bug, since it wasn't really a bug, and there are a lot more critical things to deal with, like an option to not export contr

[2019-06-16 05:38] jitspoe commented on #260
I was hoping it would be as simple as checking if bone.use_deform is true before calling gather_joint, but I obviously screwed something up with my first attempt.

[2019-06-16 07:17] julienduroure commented on #260
@jitspoe Of course this is not as simple as you said, this would be already done for a long time.
Bones inherit location, rotation and scale from parents that can be non deformation bones, so some "baking" is needed for these bones

[2019-06-16 16:56] Leon-Cantin opened #551 "Winding order is inverted"
Maybe I am doing something wrong but I just wrote an importer into my Vulkan engine after exporting a cube from Blender to .glb and I am getting the wrong winding order.

From glTF 2.0 specification: "For triangle primitives, the front face has a counter-clockwise (CCW) winding order."

I checked the memory and the indices do seem to be clockwise. I load them straight up into a Vulkan buffer and d

[2019-06-16 20:52] donmccurdy commented on #260
Would it be OK to keep the bones, but not include them in the joint list of the skin? So for example:

- bone_1
  - bone_2
    - empty_object
      - bone_3

That would make the export simple enough (I hope), and we probably wouldn't even need an option for this behavior. Whether Godot would perform better with empty objects than with non-deforming bones, I don't know...

[2019-06-16 20:55] donmccurdy commented on #551
Could you share an example `.blend`? I'd assume that if it's rendering correctly across several viewers (e.g. http://gltf-viewer.donmccurdy.com/ and http://sandbox.babylonjs.com/) then the bug is not in the exporter, but I haven't looked closely at this.

[2019-06-16 22:09] Leon-Cantin commented on #551
Sorry, I think I found the issue. My engine flips the Z axis (depth) since forward increases the depth and backward decreases. If I flip the Y axis in Blender (depth) with a -1 scale and I turn on backface culling, I end up with the wrong face showing in Blender, but it looks fine in my engine. I'll look into a way of flipping it before exporting... or redo everything to flip the Z axis in the eng

[2019-06-16 22:09] #551 closed

[2019-06-17 09:48] frguthmann commented on #551
I just tried a model that has mixed winding order and both ThreeJS and BabylonJS seem to auto-magically solve the problem. Babylon switches WebGL context on the fly and ThreeJS only renders in CW, so I'm assuming it pre-processes the data.

In my custom engine half the model is inside-out because I'm rendering everything in CCW, as described in the spec. This viewer replicates this behavior https:

[2019-06-17 15:57] emackey opened #554 "Unlit materials do not round-trip"
There was much debate over "Background" vs "Emission" nodes for `KHR_materials_unlit` in #83 and #220.  But it looks like currently we're in a place where the importer uses Emission and the exporter expects Background.

As a result, `KHR_materials_unlit` is lost during round-trip from/to glTF.

In related news, `KHR_materials_unlit` is completely untested by the test suite.

[2019-06-17 16:13] donmccurdy commented on #551
threejs doesn't preprocess mesh data, so i'm not sure why you're seeing that result, but glad it's working anyway. :)

[2019-06-17 16:51] frguthmann commented on #551
Well I don't know who and I don't know what, but somebody's doing something. Because that's not possible haha. It can actually be harmful in some cases that the reference viewers work with wrongly formed data because people will use them as validation and keep on generating data that doesn't match the spec :/.

I'm pretty sure ThreeJS does something because it renders using CW winding. ( My observ

[2019-06-17 17:20] donmccurdy commented on #551
I maintain the glTF loader for three.js, and can assure you we aren't scanning for CW vs CCW triangles - that would be wildly inefficient. We upload the accessor exactly as it comes in. I suspect the exported data is not what you think, but a simple counterexample would be welcome. ;)

[2019-06-17 17:34] donmccurdy commented on #554
My preferred solution would be https://github.com/KhronosGroup/glTF-Blender-IO/issues/220#issuecomment-455811913, with the exception that i'm fine with having the importer use Emission too. So long as it doesn't also create a Principled node on the same material, the exporter should be able to infer that it's unlit.

[2019-06-17 18:13] frguthmann commented on #551
That is definitely possible. If I manage to get one that I can share or to create one myself I'll send it to you.

[2019-06-18 00:08] donmccurdy commented on #542
As a (non-urgent) feature request, I do like this idea. I've wanted a way to set custom attributes before myself. I'm not really sure how the end-to-end workflow will be, and I'm definitely not familiar with Godot, but we might as well keep this open.

I'm curious if the Blender Python API has other ways to set custom vertex data, like [BMesh CustomData](https://docs.blender.org/api/blender_python

[2019-06-18 09:27] #545 closed

[2019-06-18 09:28] #544 closed

[2019-06-18 22:34] donmccurdy commented on #374
Looks good now, yes!

[2019-06-18 22:34] #374 closed

[2019-06-18 22:40] donmccurdy commented on #373
The "Bake skinning constraints" option has been removed. Exporting with default options, export fails with an error (attached below). Exporting with "Always sample animations" enabled, the export succeeds and appears correct to me, although the whole model is rotated 90º from what I'd have expected.

As we have a lot of open animation issues, I'd consider the failure when sampled animations are di

[2019-06-18 22:42] donmccurdy opened #557 "Merge NLA tracks with the same name."
When multiple NLA tracks share the same name, they should be exported as a single glTF animation.

[2019-06-18 22:43] donmccurdy commented on #539
Tracking the remaining feature request (merging NLA tracks with the same name) in https://github.com/KhronosGroup/glTF-Blender-IO/issues/557.

[2019-06-18 22:43] #539 closed

[2019-06-18 22:43] donmccurdy commented on #344
Let's start with https://github.com/KhronosGroup/glTF-Blender-IO/issues/557 and revisit if other options are needed.

[2019-06-18 22:43] #344 closed

[2019-06-18 22:49] donmccurdy opened #558 "Skinning examples often require 'Always sample animations' to be enabled"
This is a tracking bug for examples that export correctly with *Always sample animations* enabled, but not when it is disabled. I would consider all of these to be lower-priority than other animation issues, because the option is there to work around them.

- [ ] [ac_coa.blend.zip](https://github.com/KhronosGroup/glTF-Blender-IO/files/3303704/ac_coa.blend.zip) from https://github.com/KhronosGroup/

[2019-06-18 22:50] donmccurdy commented on #347
This model now exports correctly when *Always sample animations* is enabled.

Closing this issue, and tracking the dependence on that option in https://github.com/KhronosGroup/glTF-Blender-IO/issues/558.

[2019-06-18 22:50] #347 closed

[2019-06-18 22:50] donmccurdy commented on #373
Tracking the remaining issue in https://github.com/KhronosGroup/glTF-Blender-IO/issues/558.

[2019-06-18 22:50] #373 closed

[2019-06-18 22:54] donmccurdy commented on #156
Thanks for reporting this! The issue has been fixed.

[2019-06-18 22:54] #156 closed

[2019-06-18 23:02] donmccurdy commented on #345
This model now exports correctly if i disable materials.

With materials enabled, I see the following error:

<img width="763" alt="Screen Shot 2019-06-18 at 3 55 51 PM" src="https://user-images.githubusercontent.com/1848368/59725434-82868080-91e2-11e9-9f98-3969ada5a864.png">

[2019-06-18 23:03] donmccurdy commented on #345
The material looks normal enough to me:

<img width="775" alt="Screen Shot 2019-06-18 at 4 02 05 PM" src="https://user-images.githubusercontent.com/1848368/59725460-9336f680-91e2-11e9-8e2f-94e064e62913.png">

[2019-06-18 23:06] donmccurdy commented on #180
Model appears to be exporting correctly now, @kungfooman could you confirm with the latest Blender 2.8?

[2019-06-18 23:09] donmccurdy commented on #351
Merging to https://github.com/KhronosGroup/glTF-Blender-IO/issues/558, as this works correctly with sampling enabled.

[2019-06-18 23:09] #351 closed

[2019-06-18 23:31] donmccurdy commented on #399
What is the issue currently? It looks almost right to me, just rotated 90º or something. Is there more that i've missed?

[2019-06-18 23:37] donmccurdy commented on #387
Marking this as a bug rather than an enhancement - and confirmed the example above does work if the keyframes are shifted back to 0–2. Since animations start at 1 by default in Blender, we should fix this to ensure exports loop cleanly.

[2019-06-18 23:52] donmccurdy commented on #391
@EricEisaman if you can still reproduce this issue, could you share an example `.blend`?

[2019-06-19 01:30] mrdoob commented on #374
Will the fixed version land with 2.8?

[2019-06-19 02:30] cognatron commented on #399
hi, @donmccurdy . Looks like the head bone is rotated down while the animation is playing. Can you try to export the attached model yourself to see?
![trompa-cap-16jun](https://user-images.githubusercontent.com/43038761/59732405-76211880-9220-11e9-83aa-e9a7e132ef2b.jpg)
![trompa-cap-16jun_2](https://user-images.githubusercontent.com/43038761/59732407-76211880-9220-11e9-9b6e-1c938fea397f.jpg)

[2019-06-19 03:38] donmccurdy commented on #399
Ok, yes that is what it looked like when I exported it. Just a bit hard to tell.

[2019-06-19 04:49] julienduroure commented on #499
Closing as duplicate of #557

[2019-06-19 04:49] #499 closed

[2019-06-19 09:27] jitspoe commented on #260
I'm not sure how Godot would handle it.  I think it would be preferable to completely exclude the bones from the export and bake the transforms into the deformation bones.  I know glTF is designed to allow transmission between different applications, but, for many, it's a format that can be imported into a game engine, so we'd like to only have game-relevant information in it.

Doesn't one of the

[2019-06-19 10:28] julienduroure commented on #260
@jitspoe this bake local transformations, but not inheritance from parents. This is the next step

[2019-06-20 14:31] emackey commented on #374
@mrdoob Yes, generally any fix that lands in master here gets copied (by Julien) to the Blender Addons repository, and is available within about 3 days from the 2.80 [nightly builds](https://builder.blender.org/download/).  Currently, June 20's nightly build is all caught up with everything in master here this morning.

[2019-06-20 14:53] emackey commented on #345
@donmccurdy That stack trace is what happens currently if you try to export from a `.blend` file that references image files that are not available, such as when the `.blend` file has been moved to a new system without its texture images.

It will be a very common problem, so we should put a better error message there.

[2019-06-20 19:38] julienduroure commented on #345
We have a similar issue in #543, where there is a texture node, but without any file set. We should add a error message in that case too

[2019-06-20 19:40] julienduroure commented on #543
We have a texture node, but you didn't define a texture file or internal image in that node ... So this can't work. We are going to add an error message in that case

[2019-06-22 12:34] filibis commented on #203
Hi, I also experience slow exporting issues. Here is a simple test file (Monkey with subdivision modifier). Exporting this object takes around ~30 seconds with glTF (or glb). Exporting to fbx takes around ~2 seconds.
[gltf_slow_test.zip](https://github.com/KhronosGroup/glTF-Blender-IO/files/3316821/gltf_slow_test.zip)

My Blender version: 2.80 (sub 74), branch: master, commit date: 2019-06-19 18:2

[2019-06-22 18:49] kungfooman commented on #180
@donmccurdy I tested door.gltf and made new animated models to test around and couldn't reproduce this issue. Thanks a lot for everyone involved. 👍

[2019-06-22 18:49] #180 closed

[2019-06-23 06:59] julienduroure commented on #516
Seems this issue is now solved.
Don't hesitate to comment if I missed something

[2019-06-23 06:59] #516 closed

[2019-06-23 07:01] #537 closed

[2019-06-23 07:33] BlenderSleuth commented on #516
Yep, perfect. Thanks!

[2019-06-23 08:48] Ukwuani commented on #391
Multiple animation Export fails with a traceback error

![Screenshot from 2019-06-23 06-58-18](https://user-images.githubusercontent.com/25370051/59973644-5e3bf280-959a-11e9-93d6-5246f7214e3d.png)

This is the .blend file
[charlesgltf.zip](https://github.com/KhronosGroup/glTF-Blender-IO/files/3317640/charlesgltf.zip)

[2019-06-23 08:51] #482 closed

[2019-06-23 08:55] julienduroure commented on #391
@Ukwuani Seems something went wrong when you uploaded the file, because I can download it. Can you please try again?
Thanks

[2019-06-23 16:28] Ukwuani commented on #391
@julienduroure here [Charles.zip](https://github.com/Ukwuani/CharlesAnim/blob/master/charlesgltf.zip)

[2019-06-23 17:07] julienduroure commented on #391
@Ukwuani
Your animations have lots and lots and lots of invalid fcurves (on bone you deleted ?)
And you also have some fcurve with troncated name, like in the following screenshot:
![image](https://user-images.githubusercontent.com/1696020/59979591-16dd5280-95ea-11e9-9a5b-6820674c7f38.png)

I will add some checks to avoid traceback

[2019-06-24 07:53] UX3D-schmithuesen commented on #532
Just an update from our side: it was easy to reproduce the issue, but we still don't know where it comes from. Some things that we talked about:

* since it's written in JS, gltf-pipeline doesn't use the **same** implementation of Draco that we use (the result should be the same anyway)
* the version of Draco used in Blender is outdated by now
* gltf-pipeline does more than just Draco compression

[2019-06-24 11:30] 4DA opened #564 "Intensity units when exporting point lights"
Blender uses watts as units for power of point light sources.
On the other hand, KHR_punctual_lights use lm/sr as light intensity units.

I can see that values from point light power settings are **directly** written to gltf file without watts -> lumen -> candela conversion.

[2019-06-24 16:51] donmccurdy commented on #24
At least in the latest version, the UI itself is showing watts:

<img width="277" alt="Screen Shot 2019-06-24 at 9 50 49 AM" src="https://user-images.githubusercontent.com/1848368/60037091-98be9180-9665-11e9-87c6-8551a5fd057f.png">

Seems like we need to do a conversion?

[2019-06-24 16:52] donmccurdy commented on #564
/cc https://github.com/KhronosGroup/glTF-Blender-IO/issues/24 and https://github.com/KhronosGroup/glTF-Blender-IO/issues/528.

Previously we weren't sure what Blender's units were, but the UI does pretty clearly show watts now anyway...
<img width="277" alt="Screen Shot 2019-06-24 at 9 50 49 AM" src="https://user-images.githubusercontent.com/1848368/60037187-be4b9b00-9665-11e9-9b51-563817bad000.pn

[2019-06-24 17:24] Dok11 opened #565 "Bug with export linked objects"
**Describe the bug**
Export scene with linked objects throwing bug and abort exporting

**To Reproduce**
Steps to reproduce the behavior:
1. Open scene.blend from this archive [gltf-bug.zip](https://github.com/KhronosGroup/glTF-Blender-IO/files/3321914/gltf-bug.zip)
2. Go to `File > Export > glTF`
3. Select export options:
![image](https://user-images.githubusercontent.com/2697890/60038675-a7d12e0

[2019-06-24 20:24] 4DA commented on #564
As far as I understand Power is *emitted* by light source, not *consumed*, otherwise everything may be even more difficult.

I've done some back-of-the-envolope computation, so here it goes:

[code]

https://seblagarde.files.wordpress.com/2015/07/course_notes_moving_frostbite_to_pbr_v32.pdf

[2019-06-25 23:02] dpalacio opened #566 "Multiple duplicated skins are exported for each mesh child of the armature"
**Description**
When an armature in Blender has multiple children meshes, each mesh gets its own skin copy in the glTF export. The result is multiple skeletons, one for each child mesh, in the exported file.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the attached .blend file and check the hierarchy
2. Export scene to .gltf text
3. Verify that multiple skeletons have been created

*

[2019-06-25 23:39] dpalacio commented on #331
Here's a me too. I face this issue when the skinned meshes aren't children of the armature and only one mesh is skinned in the glTF export. The opposite case, where the skinned meshes are children of the armature is described in issue #566.

IMO, this is a problem caused by the exporter and the situation shouldn't exist, but most importantly, not considered for the issue at hand. There is a single

[2019-06-26 12:54] Dok11 commented on #565
Temporary decision: call `bpy.ops.object.select_by_type(type='MESH')` before export selected objects for exporting all exportable meshes.

[2019-06-26 13:57] Dok11 opened #567 "Export with Draco provide strange message (or error) for compression"
Look at export parameters, here compression in range 0-6
![image](https://user-images.githubusercontent.com/2697890/60185714-108de700-9833-11e9-8d31-dacfe91a23c3.png)

But in the console window 0-10
![image](https://user-images.githubusercontent.com/2697890/60185863-564aaf80-9833-11e9-9464-9215c066970e.png)

What's happen?

**Version**
 - OS: Win10
 - Blender Version v2.80.74

[2019-06-26 17:32] Dok11 opened #568 "Error when try exporting object with shape keys"
Object with shape keys
![image](https://user-images.githubusercontent.com/2697890/60201530-23171900-9851-11e9-852a-149baca146e3.png)

throw error when try export
![image](https://user-images.githubusercontent.com/2697890/60201569-3924d980-9851-11e9-8628-6d1f6cac5207.png)

but if i remove shape keys then export will work correctly

Blend file: [gltf-bug.zip](https://github.com/KhronosGroup/glTF-Ble

[2019-06-26 19:12] julienduroure commented on #567
@UX3D-nopper Can you please have a look?

[2019-06-26 19:43] UX3D-nopper commented on #567
The point is, that higher values are currently not supported in Blender I/O (see tooltip in Blender). So, the console output is correct - as Draco can theoretically do more.
@UX3D-eckerlein and @UX3D-schmithuesen can you give a closer insight on this, but as far as I know either it took too lonk and/or this compression did create artifacts.

[2019-06-27 07:53] UX3D-schmithuesen commented on #567
With values 7-10, we encountered broken normals if I recall correctly, but we also noticed that the resulting files were **larger** than with compression levels 5 and 6.
https://github.com/google/draco/issues/504

Since that should not happen with all models though, we might want to investigate the normals issue and enable higher levels (maybe with a hint that 7-10 aren't better than 6 by definiti

[2019-06-27 08:04] samanthajo2 opened #570 "Exporter modified the file"
**Describe the bug**

After exporting the Blender says the file has been modified. Exporting should not modify the file.

**To Reproduce**
Steps to reproduce the behavior:
1. Double click a blend file
2. Pick File->Export->glTF 2.0
3. Export
4. Double click another blend file

**Expected behavior**

The new blend file just loads

Instead Blender complains the current file needs to be saved or work

[2019-06-27 08:30] samanthajo2 commented on #482
Sooooo, is this fix actually applied in the repo?

I cloned the repo just now, copied the addons folder to the correct place, ran blender, it's definitely a newer version than the one I had before as the UI changed. I re-exported some files that had other issues and they no longer have any colors.

[2019-06-27 08:56] Cyp commented on #570
This may be related to applying modifiers/autosmooth when exporting. At least, I think this started happening around when autosmooth was fixed.

If I understand it right, then while exporting, it does some changes (creating a modifier which corresponds to autosmooth), gets the data to export, and then undoes the changes, but the file is still marked as modified.

[2019-06-27 09:53] Dok11 commented on #567
Wow, it's interesting. Thak you for describe

[2019-06-27 10:15] samanthajo2 opened #571 "Diffuse BSDF and use_nodes=False are not supported."
**Describe the bug**

Materials colors are not exported

Taking this file

[Cow.blend.zip](https://github.com/KhronosGroup/glTF-Blender-IO/files/3334088/Cow.blend.zip)

Exporting with the old exporter I get this

<img width="426" alt="Screen Shot 2019-06-27 at 18 46 27" src="https://user-images.githubusercontent.com/49654280/60258136-7fd90900-990f-11e9-9fb9-1674883d5d6b.png">

With the current exp

[2019-06-27 10:19] samanthajo2 commented on #570
If nothing actually changes and if Blender has an API to reset the modified flag then would it be good to reset it after exporting so it matches use expectations?

[2019-06-27 15:00] Cyp commented on #570
Yes. I'd expect Blender to have some kind of API for that somewhere, but don't know.

[2019-06-27 15:21] Pita opened #572 "Export: Camera position set to 0,0,0"
**Describe the bug**
When camera export is ticked, the cameras get exported with position 0,0,0

**To Reproduce**
Steps to reproduce the behavior:
1. Go to gltf export, select Objects > Cameras
2. Look into resulting gltf file, all cameras are exported with 0,0,0 - but orientation and other data seems correct

**Expected behavior**
Getting the correct camera positions

**Version**
 - OS: macOS
 -

[2019-06-27 18:24] donmccurdy commented on #571
Testing in Blender 2.8, the exporter is struggling with two things I think:

- Materials assigned to individual faces. Vertex groups are present but not related to the material assignments.
- Expect best results with the Principled BSDF material, rather than Diffuse BSDF.

After splitting the mesh (`Separate by Material`) and using Principled BSDF, the materials export correctly. That said, I real

[2019-06-27 18:24] donmccurdy commented on #571
Which "old exporter" are you referring to?

[2019-06-27 20:56] scurest commented on #572
This works for me. This scene

![cam](https://user-images.githubusercontent.com/11024420/60299904-6d50d680-98f3-11e9-8ff8-185e51b3743c.png)

gives

[code]

[2019-06-28 02:07] Pita commented on #572
I realized I get the correct values when I access the parent of the camera object

[2019-06-28 02:07] #572 closed

[2019-06-28 10:58] samanthajo2 commented on #571
Sorry, Old exporter = https://github.com/KhronosGroup/glTF-Blender-Exporter

The animation exports just fine if animation sampling is on. Of course sadly the files get significantly larger which is no so good for web tech

[2019-06-28 16:11] #568 closed

[2019-06-28 17:16] donmccurdy commented on #571
Thanks! Good to know the animation sampling fixes the animation issue, at least. I've added it to the list on https://github.com/KhronosGroup/glTF-Blender-IO/issues/558. Our main priority for animation right now is to get everything working, and sampling animation is the most robust way to do that. There are ways to optimize the animation later, and of course we'd like to get things working with t

[2019-06-30 13:40] Dok11 opened #575 "Bug when try export scene with animated camera with enabled Draco compressor"
**Describe the bug**
![image](https://user-images.githubusercontent.com/2697890/60397410-b0aa7f80-9b55-11e9-9349-59ae92fcc3ef.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Download [gltf-bug.zip](https://github.com/KhronosGroup/glTF-Blender-IO/files/3342937/gltf-bug.zip)
2. Try export to gltf
4. See error

**Version**
 - OS: Win10 x64
 - Blender Version 2.8.74

[2019-07-01 10:06] Dok11 commented on #575
If disable Draco compressor then export will prcocess fine

[2019-07-02 01:30] xissburg commented on #523
I have implemented MSFT_lod support on my fork https://github.com/xissburg/glTF-Blender-IO/tree/xissburg/MSFT_lod

Instructions are at the bottom of README.

I will not submit a PR because I don't think they want to officially support this extension. However this implementation could be adapted to support a future official LOD spec.

[2019-07-02 10:18] EtagiBI opened #576 "Importer Performance"
Hello,

I use a Python script to build a Blender scene from different glTF models. The problem is that it takes a lot of time to import even relatively simple models (~2Mb).

Are you planning to improve importer performance?

[2019-07-04 07:51] optimus007 opened #577 "Alpha/opacity map image does not export"
Alpha/opacity map added to principled node
The image does not seem to exist  in the gltf file after export
Is this the correct method to export ?
Also it will be helpful for the documentation to have more screenshots on how alpha control and other unique settings works

screencap
![op](https://user-images.githubusercontent.com/6885294/60648338-5f540600-9e5d-11e9-8aeb-1fe4a4b19a5c.PNG)
File:
[cube.

[2019-07-04 16:18] samanthajo2 opened #578 "Not all animations are exported"
**Describe the bug**

There are 6 animations in this file but only 5 get exported

[Pig.blend.zip](https://github.com/KhronosGroup/glTF-Blender-IO/files/3081630/Pig.blend.zip)

Same file from https://github.com/KhronosGroup/glTF-Blender-IO/issues/433

**To Reproduce**
Steps to reproduce the behavior:
1. Load into blender
2. File->Export->gltf2.0
3. Check to sample animations
4. Export

**Expected

[2019-07-04 17:00] samanthajo2 opened #579 "Animations have incorrect durations"
**Describe the bug**

Some animations in this file seem to get exported with the wrong durations. This might be related to https://github.com/KhronosGroup/glTF-Blender-IO/issues/578 ?

[Pig.blend.zip](https://github.com/KhronosGroup/glTF-Blender-IO/files/3081630/Pig.blend.zip)

Same file from https://github.com/KhronosGroup/glTF-Blender-IO/issues/433

**To Reproduce**
Steps to reproduce the behavi

[2019-07-04 17:57] samanthajo2 commented on #558
I'd like to argue this should be a higher priority. For example that super low poly Cow file.

Without animation: 121k
With curve based animation: 187k
With sampled animation: 615k.

That's a 320% increase in size and that's a very simple skeleton with only 6 short animations.

if glTF is the transmission format for the web then it's actually extremely important the files be small. A solution with

[2019-07-04 19:05] julienduroure commented on #575
@UX3D-nopper @McNopper Can you please check?

[2019-07-04 19:06] julienduroure commented on #576
Some perf enhancement are listed here : #76

[2019-07-04 19:07] julienduroure commented on #577
The 2 new fields on principled shader are not yet taken into account. See #462

[2019-07-04 19:11] julienduroure opened #580 "T66441 : Texture missing"
Bug from blender repo :
https://developer.blender.org/T66441

Seems to be linked to missing texture. To be tested, but maybe the following PR fix it : #559

[2019-07-04 19:28] julienduroure commented on #578
We are currently exporting, for each object:
- active action
- action from NLA tracks

You're "run" action is not the active one, and is not in any NLA track.

We are not exporting all actions, because some actions are not linked to the object. Maybe in the future will can add a check on each action to check if this action is linked to current object.

[2019-07-04 19:39] julienduroure commented on #579
I can't see any bug here, and you "last frame" values are wrong :
For "death" action, max frame is 26 :
![image](https://user-images.githubusercontent.com/1696020/60685562-03f93680-9ea4-11e9-9d9a-5904670382ba.png)

For "Walk", last frame is 64 :
![image](https://user-images.githubusercontent.com/1696020/60685584-212e0500-9ea4-11e9-9549-f8d09f0fb75c.png)

Don't hesitate to comment and reopen if I m

[2019-07-04 19:39] #579 closed

[2019-07-04 19:46] julienduroure commented on #558
@samanthajo2 The cow armature has some IK constraints. That means that the deformation bones are not directly animated (animation on FrontFoot.L location will have some influence on location and rotation on FrontLeg.L and FrontUpLeg.L and FrontLowLeg.L.
These 3 later bones are not directly animated, and I can't find any other solution than sampling to take into account these animations in glTF fil

[2019-07-04 21:41] donmccurdy commented on #558
Sampling does help the export to be more robust, and for now that is the highest priority.

One of the solutions I'd like to have (and not necessarily the only one) would be a way to downsample the animation _after_ it's been sampled. Many other exporters will probably have this same need, so something like that could be implemented in [glTF-Pipeline](https://github.com/AnalyticalGraphicsInc/gltf-

[2019-07-05 01:58] samanthajo2 commented on #579
Sorry about that. Thank you for checking

[2019-07-05 02:37] samanthajo2 commented on #578
I see.

Just as a reference I imported the file into Unity and Unreal and both import all 6 animations so maybe importing all 6 is what users are more used to?

[2019-07-05 08:32] optimus007 commented on #577
what's the original method?

[2019-07-05 14:10] tiancaipipi110 commented on #505
Unfortunately not, still the same.

[2019-07-06 11:08] UX3D-nopper commented on #575
Fix is here https://github.com/KhronosGroup/glTF-Blender-IO/pull/581

[2019-07-08 05:52] #577 closed

[2019-07-09 02:08] ZanQdo opened #583 "Animation export is broken"
**Describe the bug**
Simple animation is not exported correctly from Blender

**To Reproduce**
Export an animated cube and import back.
The action is not imported at all.

When opening the file on https://sandbox.babylonjs.com/ the action will be present but the animation count will be 0, and the end frame will be a negative value. The action will not play.

![image](https://user-images.githubuser

[2019-07-09 22:32] MiikaH commented on #583
The attached .gltf file seems to contain two duplicated versions of the node. Both share identical name and mesh, but only other one is animated. Only the non-animated version is included in the scene.

[2019-07-09 23:04] ZanQdo commented on #583
Confirmed, after manually removing duplicate nodes the files load correctly

[2019-07-10 08:37] pjoe commented on #583
Seems to be caused by #561. The node cache breaks because the animation gather now calls with different params (None for blender_scene) and then creates a new node instead of using the existing one :S

[2019-07-11 00:54] tvkit opened #587 "Malformed tangents on first and last frames of exported animations."
**Describe the bug**
Malformed tangents on first and last frames of exported animations.

**To Reproduce**

1. Create simple animation and export
2. Playback @ https://gltf-viewer.donmccurdy.com/
3. Notice wobble about frame 1

**Expected behavior**
Clean animation without wobble

**Screenshots**
See pull request: https://github.com/KhronosGroup/glTF-Blender-IO/pull/586

**Version**
 - OS: Windows

[2019-07-11 16:58] ZanQdo commented on #583
I hope this can be fixed soon before the Blender RC since animation export is completely broken even on the simplest of cases

[2019-07-11 17:33] emackey commented on #583
The RC is due out today.  I don't think this fix is going in RC1, but I would expect some more bugs & fixes to come in before the next Release Candidate comes along.

[2019-07-11 20:01] jedStevens commented on #583
I would also like to chime in about the broken animation.

Here is a gif showing what the animation looks like after it has been imported to the Godot engine. When I import it back into blender there is no animation at all, but I mostly care about getting my animations **out** of blender.

![Peek 2019-07-11 15-55](https://user-images.githubusercontent.com/6509081/61081195-a9f0f780-a3f4-11e9-9551-0

[2019-07-11 20:26] julienduroure commented on #583
@jedStevens Please report a complete bug report, as requested :
- provide a .blend file
- what export options are you using ?

Please first test with "always sample animations" option at export.

[2019-07-11 20:29] #517 closed

[2019-07-11 20:31] #575 closed

[2019-07-11 21:02] julienduroure commented on #583
This is now fixed here.
Here is info about merge into blender : https://lists.blender.org/pipermail/bf-committers/2019-July/050047.html
(we are in master freeze, so I hope it will be merged before release)

[2019-07-11 21:02] #583 closed

[2019-07-11 21:09] ZanQdo commented on #583
@julienduroure Thank you

[2019-07-12 00:34] MarioDelgadoSr opened #588 "Blender Metallic = 0 setting not exported as "metallicFactor" : 0,"
[test.zip](https://github.com/KhronosGroup/glTF-Blender-IO/files/3386368/test.zip)

Steps to reproduce:

- Starting with a simple (default cube) scene developed with 2.79b.
- Open 2.79 developed .blend file in 2.8 beta; confirm cube material has Metallic property =  0.
- glTF Export
- Material attributes are:
[code]

Same scenario, but start the scene in 2.8 beta and export the scene results in th

[2019-07-12 14:41] emackey commented on #588
Hi @MarioDelgadoSr, for control over PBR materials, this exporter requires use of certain inputs to the Principled BSDF node, in the shader graph ("Node graph" in Blender 2.79 Cycles engine).  Other kinds of materials are not well supported here.

For details, see [the glTF page of Blender Manual](https://docs.blender.org/manual/en/dev/addons/io_gltf2.html).

[2019-07-12 14:41] #588 closed

[2019-07-12 18:43] SurlyBird commented on #233
Has any progress been made on this issue? I still notice very large combined meshes getting split into multiple smaller meshes after exporting to .glb.

[2019-07-12 18:53] SurlyBird commented on #457
Found this while looking at another bug about large meshes getting split. Any ETA on a fix?

[2019-07-12 18:56] ZanQdo commented on #583
@julienduroure it appears we got the goahead https://lists.blender.org/pipermail/bf-committers/2019-July/050050.html

[2019-07-13 17:16] xeper8x8 opened #590 "Exporting/Importing causing edge split and duplicate materials."
**Describe the bug**
When importing my objects, they are double the vertex/face/edge/ count. It seems like the object was edge split, when in fact edge split was never even used right exactly before exporting.  I did use edge split while making the model but only in certain areas. Not sure if its the exporter doing this or importer since there is no options for edge splitting the object for either

[2019-07-15 12:08] naotaro0123 opened #592 "glTF Addon can not be enabled with blender 2.8 Release Cadidate"
**Describe the bug**
The following error appears when enabling the glTF add-on.
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Open the blender app. Menu does not have gltf menu in [File]-[Export / Import]

**Expected behavior**
glTF menu is displayed.

**Screenshots**
I get the following error when enabling glTF 2.0 Addon.
<img width="902" alt="screenshot01" src="https://user-images

[2019-07-15 12:38] naotaro0123 commented on #592
Sorry, I tried on the following Mac. glTF Addon worked without problems.
Is the cause insufficient memory?

**Version**
- OS:MacOS High Sierra(10.13.6)
- CPU: 3.1GHz Intel Core i7
- Memory: 16GB 1867 MHz DDR3
- GPU: Intel Iris Graphics 6100 1536MB

[2019-07-15 18:14] emackey commented on #590
glTF is a GPU-friendly format.  Vertices with discontinuous UVs, discontinuous normals etc. must be split during export.  Each vertex has a set of associated attributes in memory, there's no concept of a "shared" vertex that has separate attributes per face.

[2019-07-15 18:28] emackey commented on #592
@UX3D-nopper Can you look at this?  It's Draco-related and I don't have access to MacOS to test it.

[2019-07-15 19:19] ZanQdo commented on #592
Uh oh! Getting the same on Windows 10

https://pastebin.com/CcTNQqj2

[2019-07-15 19:21] LazyDodo commented on #592
The initial release of the RC for mac had code sign issues and has been silently updated (which i admit is not great) try re-downloading it from https://download.blender.org/release/Blender2.80/ and see if that improves the situation.

[2019-07-15 22:47] naotaro0123 commented on #592
Thank you for updated!
After try re-downloading it, the problem is solved with MacOS Mojave(10.14.5).

[2019-07-15 22:47] #592 closed

[2019-07-16 11:24] nasser commented on #376
@donmccurdy that tweet is a response to me! hello :wave:

I am working on a PR for this, because my workflow depends on it. I have a patch against the latest 2.8 RC to add line export that seems to do the trick, though I am unsure about some of the technical details, specifically around mesh splitting (which other parts of the addon seem to do) and the like. I will not have a chance to organize th

[2019-07-17 01:32] #309 closed

[2019-07-17 01:34] donmccurdy commented on #458
Fixed by https://github.com/Cyp/glTF-Blender-IO/commit/c9e33f3c8838cc9c6f6cf51c65e28b5ee073e4f0

[2019-07-17 01:34] #458 closed

[2019-07-18 21:21] rabanti-github commented on #542
Hello,
I have added an option to export vertex colors as sRGB or linear in a fork.
This option would be available as dropdown with the entries "sRGB" (default) and "Linear" under the checkbox "Vertex Colors" (tab "Mesh").
A caveat is that linear may still have rounding errors, since the stored value are floats.

May I submit a pull request?
The code can be seen at: https://github.com/rabanti-githu

[2019-07-18 23:08] donmccurdy commented on #542
@rabanti-github Unfortunately I don't think we could accept that as a pull request. The glTF format is specific that vertex colors must be linear, and displaying an option enabling users to create incorrect glTF files will cause issues and confusion.

A solution that I (at least personally) would support is described in https://github.com/KhronosGroup/glTF-Blender-IO/issues/542#issuecomment-502398

[2019-07-19 04:08] meatN opened #595 "Duplicate node with animation"
Add simple animation to node
In exported section - nodes - I see this node twice (first - had parent -> scene, second without any parents)
In exported section - animations - I see animation channels with second node

[test-animation.zip](https://github.com/KhronosGroup/glTF-Blender-IO/files/3409386/test-animation.zip) - contain .blend , .gltf, .bin

Blender 2.80 Release Candidate - Download 18 Jul

[2019-07-19 05:31] julienduroure commented on #595
Thanks for reporting. This bug is already fixed in newer build.
Can you please re-test with current build, and/or with RC2 that will come in following days

[2019-07-19 05:31] #595 closed

[2019-07-20 04:54] meatN commented on #595
Ок, thanks

[2019-07-20 20:56] kocsis1david commented on #571
It seems to me that the problem happens when the material doesn't use nodes.

[2019-07-21 05:22] donmccurdy commented on #376
Thanks @nasser! The PR looks very promising. Some initial thoughts:

The exporter applies mesh splitting when (a) a mesh contains multiple materials, or (b) a mesh has too many triangles for the GPU to render it as a single primitive. The first would ideally be handled when exporting lines or points, although I think we could merge a PR without that if it doesn't break any existing functionality.

[2019-07-21 22:04] jitspoe commented on #260
Might be worth looking at the source to the better collada exporter, as that seems to work well (aside from collada being a terribly bloated format -- also, I don't think it's compatible with 2.8).

https://github.com/godotengine/collada-exporter

[2019-07-25 18:53] Dragon3DGraff opened #597 "Import lattice deformation from Blender"
**Describe the bug**
I made a simple 3d model in Blender and made animation of it - just movement across one axis. I imported it to three.js using gltf format and played animation. Everything is ok.
But after I made deform animation using lattice deformation and tried to import - it don’t play. I baked animation in Blender but got strange result.

**Expected behavior**
The same animation like in B

[2019-07-27 19:28] tiancaipipi110 opened #598 "Duplicated shape keys & unknown nodes on mesh with multiple materials."
Same as title.
If we use more than 1 material on the same mesh, it'll export another set of shape key on unknown nodes.
[cube.zip](https://github.com/KhronosGroup/glTF-Blender-IO/files/3438515/cube.zip)
![whatsup](https://user-images.githubusercontent.com/35275506/61998759-8eba0380-b0e7-11e9-82b9-f93c0d320f58.jpg)

[2019-07-28 11:31] HungryProton opened #599 "Custom normals are not exported"
**Describe the bug**
Meshes lose their custom normals after exporting them from Blender 2.8 RC3

**To Reproduce**
Steps to reproduce the behavior:
1. Add a mesh (for example, the default monkey Suzanne)
2. Under the Mesh tab, turn on Auto Smooth
3. Add a 'Normal Edit' modifier, leave everything on default
4. Apply the modifiers
5. Export the object

**Expected behavior**
When loading the resulting

[2019-07-28 13:23] julienduroure commented on #598
Can't see any problem here. Each primitive have its own targets array with 1 element, and mesh.weights has also only 1 element.
@donmccurdy Seems https://gltf-viewer.donmccurdy.com/ displays an entry for each primitive, for each morph target.

[2019-07-28 15:54] Eric02 commented on #532
Hello everybody!

Is there any update for this issue? I just tested the exporter (w/ Draco) in Blender 2.8 RC3 and got the same results. Are you going to implement gltf-pipeline in Blender or we should not use Draco compression (from Blender)?

Thank you.

[2019-07-28 16:32] UX3D-nopper commented on #532
We wait, until Blender 2.80 is out, as replacing the C++ library could harm the release.

[2019-07-28 19:06] Moguri commented on #129
I am still seeing this issue in Blender 2.80 RC2 with the attached file (created with Blender 2.79).
[disable_camera.zip](https://github.com/KhronosGroup/glTF-Blender-IO/files/3439490/disable_camera.zip)

[2019-07-31 13:08] aguaviva opened #600 "Cameras, lights and objects' animations are exported as a different animations sections in the gltf"
**Describe the bug**
cameras, lights and objects motion is exported as different animations in the gltf file.

**To Reproduce**
1) Load the animation_test.blend file(see zip file), it has a test scene where the cameras, the lights and the objects are animated.
2) Export it as a GLTF file (see the gltf already in the attached zip file)
3) Notice the animation section contains 3 different animations

[2019-07-31 13:17] Eric02 commented on #532
Blender 2.8 is out!  https://www.blender.org/download/

[2019-07-31 13:25] UX3D-nopper commented on #532
So, let's target 2.81

[2019-07-31 17:07] Lanceloth25 opened #601 "mistake to export a glb file in blender on the mesh"
does anyone know why the glb file does not respect the weight when I export it in version 2.79 of blender if it already accommodates the orientation of the bones to global ........ ???
[https://discourse.threejs.org/t/skining-glb-blender/8794](https://discourse.threejs.org/t/skining-glb-blender/8794)

[2019-07-31 17:12] julienduroure commented on #601
Hello,
Can you please provide the .blend file ?
Thanks !

[2019-07-31 19:40] donalffons opened #602 "Export objects as hidden"
Hi!

It would be great if it would be possible to export objects as hidden. I.e. they are part of the scene graph, but are not shown (until at some point I decide to show them in my application).

It would be best if the render visibility setting would be used to achieve this (i.e. the camera icon, not the eye icon).
![image](https://user-images.githubusercontent.com/33040347/62242559-b3f68c80-b3d

[2019-07-31 21:41] mjdave commented on #181
Hi just to follow up, I'm still requiring this, and as far as I can see there still isn't a solution in the exporter. Leaf nodes would work as a solution for me, though it feels maybe not quite the right fit for my specific use case. For now I've updated my exporter modification for 2.8 if anyone else is in need of a solution in the mean time. In gltf2_blender_gather_joints.py in gather_joint() I'

[2019-08-01 04:26] mjdave opened #603 "Exported rotation incorrect when objects are directly parented to bones"
**Describe the bug**
When exporting, if you have top level objects parented to bones, the exported rotation is incorrect.

**To Reproduce**
Create an Armature with one or more bones. Add an empty object to the scene, set its parent to one of the bones. Rotate the bones and object to some non-identity value, and export. The rotation in the GLTF file is not useful.

**.blend file/ .gltf**
[blenderEx

[2019-08-01 14:37] aguaviva commented on #564
Any chance to get this tagged as a bug? The units for the light intensity seems to be wrong.

According to the glTF specs:
1) point and spot lights use luminous intensity in candela (lm/sr), this exporter uses Watts
2) directional lights use illuminance in lux (lm/m2), this exporter uses "Strength"

the exported units should be as specified in the glTF specs.

[2019-08-01 14:45] aguaviva opened #604 "Cameras and lights get exported as 2 nodes, using just a node should be enough."
**Describe the bug**
Cameras and lights get exported as 2 nodes

**To Reproduce**
1) create a camera or a light
2) export it as glTF
3) note the two nodes

In addition each node has a different transformation.

**Expected behavior**
Having just node would be enough, that way if you want to modify a light programmatically you only have to do it in one node, otherwise you need to take into account t

[2019-08-01 14:49] aguaviva commented on #600
An update, I noticed each animated object is now in its own animation track. The default behaviour would be to have all the objects in the same animation track (unless separated by actions, not sure how Blender separates animations though)

[2019-08-01 16:40] julienduroure commented on #564
Tagged as bug

[2019-08-01 16:42] julienduroure commented on #604
This was historically intentional, but I don't remember exactly why. Maybe @McNopper can help remember

[2019-08-01 16:46] julienduroure commented on #602
Hello, I'm not sure to really understand what you are looking for. You what to replace some meshes by an empty node in some cases ?
Not sure how we have to handle that. Using render visibility seems to be quite specific, I don't know if this requirement is very common.
Other dev, any thoughts ?

[2019-08-01 16:48] julienduroure commented on #600
With already planned to merge animation, based on track name in NLA. See #557
This should answer your requirement

[2019-08-01 16:48] #600 closed

[2019-08-01 17:34] aguaviva commented on #557
Hmm how do you get multiple NLA tracks share the same name? I find there is no way to do that, If I try to set the name of a track with the same name of an existing one Blender appends ".001"
![image](https://user-images.githubusercontent.com/5200915/62314479-6c333c00-b493-11e9-87a1-686dfad70d33.png)

[2019-08-01 17:38] UX3D-nopper commented on #604
Blender does have a different default orientation for cameras and lights. Because of this, a helper node was introduced, which does change to glTF dafault orientation.
On a first thought, one could claim, that this orientation could be stored in the "original" node. Yes, but as soon as this node is animated and/or does have children with meshes, the whole thing gets complicated.

[2019-08-01 17:40] UX3D-nopper commented on #604
So, this is not a bug. Furthermore, a node hierarchy has to be calcuated for other elements anyway.

[2019-08-01 17:41] aguaviva commented on #557
Also there should be 2 options to export the animations
1) export what the timeline currently has (this would be a simple mode)
2) export the NLA tracks  (advanced)

The default should be the mode #1, otherwise many people will think the animations are not working.

[2019-08-01 17:42] UX3D-nopper commented on #604
FRom my point of view, close this issue.

[2019-08-01 17:53] aguaviva commented on #604
Could the exporter flatten out those two nodes into one? Without this in order to move a light in the engine I need to have different paths for different exporters (that for Blender GLTFs I'd need to look for the helper node and undo that transformation). The more the exporter can simplify the rendering side the better.

[2019-08-01 17:56] UX3D-nopper commented on #604
Well, the exporter provides valid glTF. This can happen in Blender but also in other glTF files.
Suggest you adapt your engine. Maybe some work today, but much more work in the future if you work around this problem.

[2019-08-01 18:51] donalffons commented on #602
Hi Julien, thanks for catching up on the issue.

Maybe I wasn't clear enough in my description. I would like to be able to export some objects in my scene as invisible by default. In ThreeJS for example, they would import with the "visibility = false" object property.

Here is an example use case of a product customizer: I have a 3D model of an office chair which comes without armrests by default

[2019-08-01 18:59] julienduroure commented on #602
There is nothing in glTF specification to set the visibility.
What I suggest you is to use custom properties on objects, and read these "extras" datas in json in your importer

[2019-08-01 18:59] #602 closed

[2019-08-01 19:29] #604 closed

[2019-08-01 19:30] julienduroure commented on #604
Closing this, as there is no easy way to have only 1 node with right data.
This solution is glTF compatible, I will focus on bugs first

[2019-08-01 19:32] julienduroure commented on #597
Unfortunaly, we can't manage all constraints / modifiers in exporter.
glTF 2.0 can export rigs & shapekeys.
If you really want to export this animation, you can probably bake it first

[2019-08-01 19:32] #597 closed

[2019-08-01 19:43] donmccurdy commented on #602
For example, Blender custom properties will be exported to glTF, and appear in threejs as `object.userData`.

[2019-08-01 19:53] aguaviva commented on #604
Will the importer handle a GLTF file that doesn't use those Blender specific helper nodes?

[2019-08-01 20:34] donmccurdy commented on #557
In the screenshot you've renamed the Action, not the NLA track. NLA tracks can share names:
<img width="284" alt="Screen Shot 2019-08-01 at 1 30 50 PM" src="https://user-images.githubusercontent.com/1848368/62325540-b8b15400-b460-11e9-9e00-0e697b963a36.png">

I'd be OK with this, assuming we can get "what the timeline currently has" from the Blender API reasonably. I guess that's the active Action

[2019-08-01 21:09] mjdave commented on #181
In the latest exporter shipping with 2.8, nodes which are parented to bones are exported with the translation relative to the tail, and not the head of the bone. This is a nice solution for my use case here, so I think this bug could now be closed.

[2019-08-01 21:09] #181 closed

[2019-08-01 21:51] mjdave commented on #599
I've also just hit what is probably the same bug. The "Auto Smooth" setting is being ignored completely now. This wasn't the case in the old version of the exporter I was using (from over a year ago).

[2019-08-02 06:58] modulesio commented on #64
I'm still getting this one when loading Google Poly GLTF models:

[code]

[2019-08-02 06:59] donalffons commented on #602
OK, I understand. Thank you both for the hint to use custom properties. And generally, thank you for your great work on this technology :).

[2019-08-02 08:06] julienduroure commented on #64
Hello @modulesio
Can you please provide a test .gltf or .glb file, in order to reproduce the error?
Thanks !

[2019-08-02 10:44] aguaviva commented on #603
I think the issue is with the way YUP is implemented.

Given a vector 'v' and a matrix 'm' in Blender's original base, to get them in the YUP base we need to transform them this way:
1) a vector v should become (axis_basis_change * v)
2) a matrix m should become (axis_basis_change * axis_basis_change * axis_basis_change^-1)

And then all will work as expected.

So you'd need to add this at the bot

[2019-08-02 19:34] aguaviva commented on #603
@mjdave do you get the right results when you are not using checking "+Y UP" option?

[2019-08-02 20:38] aguaviva commented on #603
@mjdave do you get the right results when you are not using checking "+Y UP" option?

Also @mjdave the matrix to change from 'Blender' into 'YUP' spaces seems to be defined in 5 different places, i'd be nice to have this matrix and all the functions for changing into the YUP space into just one place.

Also I would try to do all the math in 'Blender space' and do the transformation into 'YUP space

[2019-08-03 04:08] tiancaipipi110 commented on #598
@julienduroure Please see markup and let me know if that clears it up.
![markup](https://user-images.githubusercontent.com/35275506/62407219-3acb8500-b5e7-11e9-9f5b-dfd684901282.jpg)

[2019-08-03 04:52] julienduroure commented on #598
@tiancaipipi110 in glTF specification, morph target are defined at primitive level. So, if you have 2 materials on a mesh, you will have 2 primitives, so for each shapekeys, you will have 2 morph targets

[2019-08-03 04:59] #345 closed

[2019-08-03 04:59] #543 closed

[2019-08-03 06:32] tiancaipipi110 commented on #598
@julienduroure I c, thought it was a bug. Thanks.

[2019-08-03 06:32] #598 closed

[2019-08-03 06:47] julienduroure opened #605 "Quaternion not unit"
In https://sandbox.babylonjs.com/,

The following blend file export said that quaternion is not unit
[quaternion_check.blend.zip](https://github.com/KhronosGroup/glTF-Blender-IO/files/3463451/quaternion_check.blend.zip)
[quaternion_check.glb.zip](https://github.com/KhronosGroup/glTF-Blender-IO/files/3463452/quaternion_check.glb.zip)

[2019-08-03 07:02] #587 closed

[2019-08-03 08:14] #315 closed

[2019-08-03 08:21] julienduroure commented on #580
This is now fixed after merge of #559

[2019-08-03 08:21] #580 closed

[2019-08-03 08:33] julienduroure commented on #427
Must be retested after recent change on 5066a34067cae9719bfae6a1a791b787c1f3dfb3

[2019-08-03 15:07] julienduroure commented on #603
Please provide a test case, not with Empty, so we will be able to SEE the bug directly in any external viewer like https://gltf-viewer.donmccurdy.com/
I was not able to reproduce with simple case, so I want to show your test case.
Thanks !

[2019-08-03 17:43] Lanceloth25 commented on #601
Hello friend, I annex 2 files one is in version 2.79 and the other 2.8, in 2.8 it is already corrected the model but the animation is not appreciated the model in the gltf viewer only if you stop the animation is appreciated the model, but it shows well in the windows 3d viewer and in 2.79 it comes out with deformation in the maya since it does not respect the weights of the maya of the model as i

[2019-08-03 17:47] Lanceloth25 commented on #601
thank you for your help :3

[2019-08-04 00:03] prideout opened #607 "Importing this GLB + exporting as GLTF causes changes."
Ideally doing an import+export is an idempotent operation but tangents are lost and the textures look different.

https://github.com/Yzou-NaO/glTF-Model

[2019-08-04 02:23] donmccurdy commented on #607
There’s an option in the export settings to enable tangents - they’re not preserved through a round trip, I don’t think, but can be regenerated at export.

[2019-08-04 03:06] mjdave commented on #603
My apologies. I've attached a test case that illustrates the problem clearly. If you ensure the +Y UP option is selected and export the model, then the monkey face will be facing the wrong direction relative to the cone when viewed in https://gltf-viewer.donmccurdy.com/ whereas without that option selected, the result is correct.
[testCase2.zip](https://github.com/KhronosGroup/glTF-Blender-IO/file

[2019-08-04 05:30] julienduroure commented on #607
I confirm that tangents import are not yet implemented

[2019-08-04 05:33] julienduroure commented on #603
I can confirm the bug

[2019-08-04 05:46] julienduroure commented on #603
@donmccurdy  Interesting, you don't have the save visual result in https://gltf-viewer.donmccurdy.com/ and in https://sandbox.babylonjs.com/
Results seems better (good?) with babylonjs
I produced 2 new .blend files with corresponding .glb to better visualize the rotation. (the second one is without initial rotation on suzanne head, in order to check if this have an impact)
[bug_603.zip](https://gi

[2019-08-04 09:51] julienduroure commented on #571
I can confirm that that remaining issue (material issue) is because of the material on the .blend file :
- use_nodes must be checked
- we have to use principled shader, as requested in user manual.

So it seems that we can close this ticket!

[2019-08-04 10:04] julienduroure commented on #601
Sorry, I didn't get was you mean.
Please make simple sentences ending with a dot, not a big paragraph.
Explain for each file, what action you performed, how you see the result is not correct, if possible with screenshots.
Thanks !

[2019-08-04 10:20] #565 closed

[2019-08-04 15:30] julienduroure commented on #9
Not sure we have to keep this alive ... This is quite old, and I will focus on bug fixes, perf. Code refactoring will only come after

[2019-08-04 15:30] #9 closed

[2019-08-04 15:30] #13 closed

[2019-08-04 15:31] julienduroure commented on #24
We know have the answer on #564

[2019-08-04 15:31] #24 closed

[2019-08-04 15:41] julienduroure commented on #178
Unfortunally ,the .blend file is no more accessible. Closing this report.
Don't hesitate to comment, and we will reopen it again, if error still occurs, and you can provide the original .blend file

[2019-08-04 15:41] #178 closed

[2019-08-04 15:46] julienduroure commented on #129
I can reproduce.
@Moguri , do you mean that camera is always exported (with camera data), or that an empty node is exported when "export camera" is unchecked. In that case, this is related to enhancement #183

[2019-08-05 05:24] Moguri commented on #129
I got camera data. My importer was crashing because I forgot to make some fields optional.

It may be a combination of settings. I'll try again to reproduce it.

[2019-08-05 07:04] marstaik commented on #566
I recently ran into this behavior on my own, without the test case, while trying to import to Godot.

This is a very annoying problem to deal with, every mesh has a skeleton copy.

[2019-08-06 11:39] fire commented on #566
Will review.

[2019-08-06 16:57] Ldash4 opened #610 "Vertex alphas are not exported"
**To Reproduce**
1. Create cube
2. Add vertex colors, as well as vertex alpha values. I used [this addon](https://blenderartists.org/t/vertex-color-master/697617) to edit alpha.
3. Export mesh
4. Open mesh in debugger. I used [this](https://marketplace.visualstudio.com/items?itemName=cesium.gltf-vscode).
5. The vertex colors are there as expected, but all of the alpha values are set to one.

**Exp

[2019-08-06 18:06] #601 closed

[2019-08-06 18:07] Lanceloth25 commented on #601
ok, what I mean is that in version 2.8 of blender the animation is not appreciated in the gltf viewer but in the windows 3D viewer yes and the model goes well in the mesh, and in 2.79 if you export and appreciate the animation but with error in the armpits of the mesh as it is marked in the images ...
thank you
[screnshots.zip](https://github.com/KhronosGroup/glTF-Blender-IO/files/3473575/scrensho

[2019-08-06 18:18] Lanceloth25 commented on #601
and the exportation to glb use de default setting in the 2 gltf exporters in blender 2.79 and 2.8

[2019-08-07 04:58] #610 closed

[2019-08-08 12:01] EtagiBI opened #613 "Change console output text and style"
Hello,

At the moment successful gltf/glb import gives a following console output:
[code]
In my view, these lines are quite confusing because the word "CRITICAL" usually indicates critical errors. It becomes even more misleading in Blender Python console because these lines appear there in red-pink color, which is - again - associated with errors.

Is it possible to replace "CRITICAL" by "SUCCESS"

[2019-08-09 00:20] donmccurdy commented on #603
If I export with the *Always sample animations* option enabled, the bug seems to go away. Based on that, my guess is that either there's a bug in the threejs handling of cubicspline in/out tangents, or (less likely) the in/out tangents are incorrect and babylonjs is just not using them. I used to have a test model to check if an engine implemented the in/out tangents but can't seem to find it at t

[2019-08-09 07:04] Yzou-NaO opened #614 "Skinned mesh in incorrect position"
**Describe the bug**
The skinned meshes display in the incorrect positions.

**To Reproduce**
Steps to reproduce the behavior:
1. Load into blender
2. File -> Export ->glTF2.0
3. Check to skinning
4. Export

**Expected behavior**
![WeWork Helper20190809025420](https://user-images.githubusercontent.com/39986511/62760033-98634400-bab5-11e9-88e3-f3da1e5e9d3c.png)

**Screenshots**
![WeWork Helper20190

[2019-08-09 12:43] Nizaxx opened #615 "Cant export gltf object with animations in corrupted blender project"
**Describe the bug**
So the problem appeared when i exported once object at 60 sampling rate and since that whenever i want to export object with animations its giving me error-logs and file isnt exported.

I tried to reproduce this problem from a scratch but it didnt work out exactly like in my corrupted project. Heres how im trying to export gltf https://streamable.com/75mn2 with failure and vis

[2019-08-09 13:17] schiette opened #616 "Importing glft+bin fails, but importing gltb works fine"
**Describe the bug**

We have a gltf+bin that we cannot import. However, when we convert this file into a gltb it imports fine. Are we doing something wrong, or does the importer not support gltf+bin?

**To Reproduce**

Try importing the gltf+bin in attachment
Then try to import the gltb in attachment

Files in attachment

[Proxy.zip](https://github.com/KhronosGroup/glTF-Blender-IO/files/3486511/P

[2019-08-09 14:44] emackey commented on #613
What platform are you on?  And what version of Blender?

[2019-08-09 15:32] julienduroure commented on #613
This should be solved when we will address #89 , but this is not planned yet (neither at short or medium term).
So I will probably patch importer logging way for avoid this

[2019-08-09 16:34] julienduroure commented on #614
Confirmed.
Seems to be linked to ears object location that are not initial before skinning.
Applying location ( Ctrl+A) on both ears seems to solve the issue

[2019-08-09 16:46] julienduroure commented on #616
Confirmed, I need to had some checks

There is a bug in your exporter, because uri of file are not written correctly in your gltf file.
See screenshot :

![image](https://user-images.githubusercontent.com/1696020/62795005-ed16b700-bad5-11e9-95e9-2617ab11d5bc.png)

[2019-08-09 16:55] schiette commented on #616
@julienduroure
very interesting. We removed the spaces in the texture paths and everything works fine now.
thanks for helping us find the issue!

[2019-08-09 17:03] lexaknyazev commented on #616
@julienduroure
As per the spec, `uri` can use "percent-encoding", so the importer should accept it.
[code]
[code]

[2019-08-09 17:43] #616 closed

[2019-08-09 17:54] julienduroure commented on #615
You have a strip in NLA without any action on it.
Adding a check on that

[2019-08-09 17:54] #615 closed

[2019-08-09 17:55] julienduroure commented on #615
Closed by 6ab5c9b

[2019-08-09 18:19] julienduroure commented on #566
@donmccurdy @emackey I have a question about inverseBindMatrices: If multiple mesh objects are linked to an unique armature, I don't know how to create only 1 skin object in glTF, because inverseBindMatrices are differents ... Any thoughts / test cases / info about that ?

[2019-08-09 18:31] julienduroure commented on #391
Seems issue is now solved, I can export correctly

[2019-08-09 18:31] #391 closed

[2019-08-09 18:52] schiette commented on #616
I have reported this issue to the 3ds max gltf exporter developers: https://github.com/BabylonJS/Babylon.js/issues/6705

[2019-08-09 18:55] schiette commented on #616
@julienduroure  The developers in the exporter thread are referencing the URI specs for gltf (https://github.com/KhronosGroup/glTF/tree/master/specification/2.0#uris). Can you comment on this? Which is correct here? Should the blender importer be able to handle this, or is the max exporter not according to the specs?

[2019-08-09 19:07] julienduroure commented on #616
I just pushed a fix on blender glTF importer to take into account uri escaped chars

[2019-08-09 19:18] emackey commented on #566
Sorry, I don't know about skins/armature.  @donmccurdy?

[2019-08-09 19:40] julienduroure commented on #378
Seems every animation is now exported as it should.
Closing

[2019-08-09 19:40] #378 closed

[2019-08-09 21:48] Nizaxx opened #617 "Draco compression corrupt armature animations"
**Describe the bug**
Exporting gltf with draco compression on object with armature animation causes random jitter of verticies
Video: https://streamable.com/3ju4b (he should jump and move his fins up while jumping) from https://gltf.insimo.com/

**To Reproduce**
Steps to reproduce the behavior:
1. Download my project file
2. Select armature object and penguin object (penguin as first)
3. Export as

[2019-08-10 00:39] julienduroure commented on #617
@UX3D-nopper Can you please have a look on it?

[2019-08-10 16:24] wcbx commented on #221
That's a hack. Not a fix. The memory consumption on gltf export is insane. No one should have to triple their virtual memory.

[2019-08-10 18:07] julienduroure commented on #221
ReOpen to check what happen in memory

[2019-08-10 18:08] julienduroure commented on #221
@Virgilius1995 Can you please share the .blend file?

[2019-08-12 02:12] Yzou-NaO commented on #614
Thanks, but it doesn't work on this
[test.blend.zip](https://github.com/KhronosGroup/glTF-Blender-IO/files/3490864/test.blend.zip),
is this another problem?

[2019-08-12 08:24] EtagiBI commented on #613
I'm on Windows 10 Pro with Blender 2.8 installed.

[2019-08-13 04:36] donmccurdy commented on #566
The child meshes are not just rigidly transformed by the parent bones, I assume, but their vertices are weighted and transformed? In the rigid case, like parts of the ["Robot" example](https://threejs.org/examples/?q=animatio#webgl_animation_skinning_morph), the child meshes do not need skins at all.

Assuming the more complex case where each child mesh's vertices are transformed, I believe one op

[2019-08-13 08:23] aguaviva opened #618 "light's range is not getting exported"
Apparently this bit it is not implemented as of today.

[code]

[2019-08-13 19:26] julienduroure opened #619 "Multiple scene export : make active scene the active scene in glTF file"
Multiple scene export : make active scene the active scene in glTF file

[2019-08-13 19:37] julienduroure commented on #566
Currently the cache of gather_skin function has 2 parameters : blender_object (armature) and mesh_object (the skinned object). That's why 2 skins are generated, because the mesh_object is different. Mesh object is used to generate/calculate the inversedBindMatrix. So my main issue is that I use a unique IBM for multiple meshes only if mesh objects have same transformation...
@donmccurdy did I miss

[2019-08-13 20:39] donmccurdy commented on #566
As long as the 2 skins don't result in duplicate joints, I think that's not too bad. If the meshes _can_ use the same IBM, they might as well share a skin of course, but not doing so is not as bad as duplicating the joints.

Does this help, as an IBM explanation? https://github.com/KhronosGroup/glTF/issues/1504 ... afraid i'm not the best person to help with that. 😅

/cc @lexaknyazev just confirmi

[2019-08-14 05:57] jbking93 opened #620 "Shape Keys applied to wrong target in Blender 2.8"
Exporting a GLB out of Blender applies the blend shape attributes to the wrong morph target.

In my example, the "Glee Eyes" target is being applied to the "Super Open" target. We have tried removing the "Super Open" target completely and re exporting and it just gets applied elsewhere.

Blend and GLB file: https://drive.google.com/drive/folders/14YZx1q0INs-SvKSFIdRv8dy_2QTbapA0?usp=sharing

[2019-08-14 06:17] julienduroure commented on #620
Confirmed. What I suspect is that the problem come from inactive shapekeys ( Super Open and Frown).

Can you please confirm that everything is OK if you delete these 2 shapekeys (delete only 1 is not enough) ?

[2019-08-14 06:20] jbking93 commented on #620
Am checking right now, thankyou for such a swift reply to this!

[2019-08-14 06:21] jbking93 commented on #620
It seems to move the behaviour to the Left Wink, updated file in original link

[2019-08-14 18:06] SurlyBird commented on #557
I have two NLA tracks sharing the same name. Still see two separate animations when I load the .glb in BabylonJS. Is this feature working or am I doing it wrong?

[2019-08-14 18:26] donmccurdy commented on #557
No, the feature has not been implemented – this issue just tracks the discussion.

[2019-08-14 18:48] SurlyBird commented on #557
OK. Thanks, Don! Having a single track for multiple, separate objects will be greatly appreciated (and seems kind of necessary given you can do this exact thing in Maya using the Babylon exporter). Currently there's no easy solution for what seems like bread-and-butter functionality. Short of combining objects, creating an armature and going through the process of skinning and weighting, I can't f

[2019-08-14 18:51] acmoles commented on #219
I wanted to do exactly that - but sadly I get duplicate animations. Blender version 2.80 (2019-07-29) Mac

[2019-08-14 19:40] julienduroure commented on #219
@acmoles this is not implemented yet.

[2019-08-15 14:00] acmoles commented on #219
@julienduroure Thanks, good to know

[2019-08-15 16:43] samanthajo2 commented on #571
I am confused. I don't see any option in the exported called "use_nodes". I don't know what it means to use principled shader

Are you saying the export won't support these files? They work fine in both Unreal (.fbx) and Unity (.blend). It would be a shame if they didn't work in glTF.

[2019-08-15 16:57] kocsis1david commented on #571
In the material settings panel of the object, you can choose to use nodes and there you can also choose the shader to be the principled bsdf.

[2019-08-16 06:39] samanthajo2 commented on #571
So you're saying unlike Unity and Unreal, to use files with glTF I have to learn blender and modify the files? Up until this point all I had to learn was load->export. Now I have to modify the files, and either remember each time to modify them or save new ones. If I tell others "hey, there's some cool models at coolmodels.org" I also have to tell them instructions how to actually get them to work

[2019-08-16 06:50] kocsis1david commented on #571
I've also bumped into this issue, but I don't know other way, I guess you need to modify files like these.

[2019-08-16 08:44] julienduroure commented on #571
@samanthajo2 @kocsis1david In blender, use_node is most of the time enable by default.
You provided only .blend file, so I don't know what file format you imported, and I can't check what happpen at import level.

The aim of an exporter is not to export exactly what was imported, but to export what is inside Blender. If use_node is not checked, and render in blender, you will not see the same rend

[2019-08-16 08:47] julienduroure commented on #620
Confirmed that something is really weird. Will check

[2019-08-16 19:09] donmccurdy commented on #571
For more detail on what we support, and recommended settings, see https://docs.blender.org/manual/en/2.80/addons/io_scene_gltf2.html.

[2019-08-17 17:12] wcbx commented on #221
If you look at that video I posted you can see how even on a system with good specs the gltf export in blender 2.8 uses ridiculous amounts of ram and locks up the computer for any sort of mesh which isn't a simple primitive.

I have not seen a bug report of this anywhere and it's a very critical bug that should be looked at immediately above all others.

[2019-08-18 20:55] jamespedid commented on #430
This would be a great enhancement for my use case :)

[2019-08-19 18:33] emackey commented on #430
I think this issue was fixed in #526, and we forgot to close this issue.

@jamespedid Are you seeing this behavior in the 2.80 release?  Or did you just find this in a search?  I can't reproduce it from the test model linked above, and I think it's fixed.

[2019-08-19 18:33] #430 closed

[2019-08-20 01:46] jamespedid commented on #430
I think I might have different ideas or expectations and the issue might be slightly different.

For me, I want to create a single model and attach 5 textures to it. I want to export the model with a default texture chosen, but also with the other textures with the intention to change the model to a different texture at a later point in time.

I'm also very new to this technology, so there might b

[2019-08-20 08:35] marstaik commented on #566
To be honest this is what I dislike about the gltf spec. Joints can be used for multiple skins, but the joints mentioned in those skins *could* belong to a sunset of the "skeleton".

I put skeleton in quotes, because there is no way to know what actually establishes a full armature in the current spec.

You could have an armature, with two arms, and two meshes each bound to one arm. The exporter c

[2019-08-20 15:52] emackey commented on #430
That's an interesting use.  Certainly there's been glTF spec talk of materials being swapped like this, see the thread on asset variants here:  https://github.com/KhronosGroup/glTF/issues/1569

Nothing like this exists in the Blender exporter as yet.  I think you have to use each material that you want exported to the model, but you might be able to use it with object linking as described above.

[2019-08-20 17:38] reduz commented on #566
Actually, I don't blame the GLTF specification for this, I think the Blender exporter has misunderstood it.

If you have a skeleton and different meshes, the spec is very clear that all the mesh transform (the transform in the actual nodes) code must be ignored. This means, that you must transform the mesh vertices, normals, tangents, etc. and make them skeleton-local.

This way, multiple meshes w

[2019-08-20 17:46] reduz commented on #566
Please read here:

https://github.com/KhronosGroup/glTF/tree/master/specification/2.0#skins

`
Implementation Note: Client implementations should apply only the transform of the skeleton root node to the skinned mesh while ignoring the transform of the skinned mesh node. In the example below, the translation of node_0 and the scale of node_1 are applied while the translation of node_3 and rotation

[2019-08-20 22:20] nasser commented on #376
Interesting -- is there not a similar GPU limit for lines and points?

I will be the first to admit that my usecase is esoteric, but I *have* had a need for exporting mixed triangle and line meshes, as in this model of a biplane in a game I recently wrapped up: https://twitter.com/ra/status/1152616341674831873

![](https://pbs.twimg.com/media/D_7qczFXsAEjqyz?format=png&name=small)
![](https://pbs.

[2019-08-21 11:33] marstaik commented on #566
Reading through it again, that makes more sense.

But it also seems unreasonable to expect implementers to ascertain the actual implications  of that line. As that note reads, it means that the *reader* should ignore any transforms on the meshes skinned to the skin, even if they are defined.

It mentions nothing about requiring the *exporter* to localize/apply the meshes transformations during exp

[2019-08-21 12:19] reduz commented on #566
@marstaik Yeah, you are right, I think this should be more explicit or, at least, a recommendation in the specification.

[2019-08-21 12:39] UX3D-schottenheimer opened #624 "Orthographic Camera Lens and FOV exported wrong"
**Describe the bug**
The orthographic camera isn`t exportet right. It Ignores the Resolusion and the orthographic size.

**To Reproduce**
Steps to reproduce the behavior:
1. Create Blend file with plane
2. Add a texture to the plane (preferably something you can see easy if it is stretched)
3. Create a camera and switch its type to orthographic.
4. Export
5. The issue is seen in several gltF viewe

[2019-08-21 14:10] UX3D-becher commented on #624
The conversion between blenders orthographic size and glTFs xmag/ ymag values requires additional care, as xmag and ymag lead to an orthographic window spanning [-xmag, xmag] x [-ymag, ymag]

[2019-08-21 14:37] emackey commented on #566
Great discussion.  @marstaik Would you be willing to open a PR with that note on https://github.com/KhronosGroup/glTF ?

[2019-08-21 14:55] emackey commented on #376
@donmccurdy I think the `Meshes` or `Objects` UI tab could get a new option for "Allow LINES and POINTS", with the default being to not export them (for the common case of loose edges & points in complex meshes).

[2019-08-21 15:59] marstaik commented on #566
I would love to, but I am currently out of the country on vacation. ETA of return is ~1.5 weeks and all I have is my phone :)

Unless you would like to wait for me to return, I'd be willing to review the PR if someone else has the time to make it.

I do feel that this is quite an important change to get in, it would correct a lot of exporter issues.

[2019-08-21 17:47] donmccurdy commented on #376
See [this discussion](https://stackoverflow.com/questions/4998278/is-there-a-limit-of-vertices-in-webgl). The limits I'm aware of are related to indices, and not the number of vertices, so primitive types like LINES or POINTS (which aren't indexed) would not need to worry about the bounds of 16- or 32-bit indices.

I love seeing stylized uses of glTF like this, really nice work! 🙂

I'm not sure. S

[2019-08-21 17:51] lexaknyazev commented on #376
Lines and points can use indexed draw calls (although there's no reason to use them for the latter).

[2019-08-21 18:10] donmccurdy commented on #566
It has been difficult to determine all of the use cases that should (or should not) be handled by skinning, and how to implement them consistently in runtime and DCC tools. See https://github.com/KhronosGroup/glTF/issues/1403 for some examples.

That said, I do think tightening glTF's requirements — or just adding solid best practices — would be very welcome additions to the spec and appendices. 👍

[2019-08-21 18:44] nasser commented on #376
I like it! I will give it a shot!

[2019-08-22 03:21] julienduroure commented on #566
I started working on it

[2019-08-22 07:01] vico93 opened #625 "Cannot open GLTFs downloaded from RemixDownloader"
Hi!

I'm currently downloading some models from the soon-defunct Remix3D by Microsoft, using [RemixDownloader](https://github.com/LanceMcCarthy/RemixDownloader) (console version) by @LanceMcCarthy , but every gtlf i open using the built in version included in Blender 2.80 x64 i get a trackback error.

Since i'm new on Blender, if anybody can help me to get the log file to send here for better clar

[2019-08-22 07:28] julienduroure commented on #625
Please follow the bug report guidelines :
- upload an example file
- upload your trackback and / or screenshot of ot.

Without these informations, we can't investigate your issue

[2019-08-22 08:09] vico93 commented on #625
The model: [Wooly Mammoth.zip](https://github.com/KhronosGroup/glTF-Blender-IO/files/3528990/Wooly.Mammoth.zip)

The error: ![print](https://user-images.githubusercontent.com/3485505/63497805-f66f2e80-c49a-11e9-8e18-4d40a05c6816.png)

Actually any GLTF downloaded from RemixDownloader causes this error

[2019-08-22 08:11] vico93 commented on #625
Sorry, the problem is with RemixDownloader (actually this issue: https://github.com/LanceMcCarthy/RemixDownloader/issues/19)

Since its not a blender issue i'm closing it.

[2019-08-22 08:11] #625 closed

[2019-08-22 20:36] dwrodger commented on #557
Is there a timeframe for this feature? Or any insight into how timeframes get decided?

[2019-08-22 21:09] #599 closed

[2019-08-22 21:27] LanceMcCarthy commented on #625
Hi @vico93, thanks for tagging me. It looks like it should be fixed, I'll post to the original Issue, but to share here for transparency.

The assets and bin are now included next to the GLTF, this was the root cause of some 3D editing programs not being able to open the file

https://csharp.christiannagel.com/2019/08/14/moving-from-the-switch-statement-to-switch-expressions-c-8/
![image](https://

[2019-08-23 05:27] #620 closed

[2019-08-23 05:33] julienduroure commented on #557
My goal is to get it before the feature freeze of v2.81, planned for mid-september

[2019-08-23 10:11] marstaik commented on #566
I made a post about potential sticter skinning requirements to make importing less complicated. I would appreciate some feedback.

[2019-08-23 12:06] julienduroure opened #626 "T68822 : Exporting GLTF with big texture is super slow"
See here the discussion, with a workaround to x2 the speed :
https://developer.blender.org/T68822

[2019-08-23 12:21] julienduroure commented on #566
Some notes about the corrective development :
I already be able to export correclty 2 meshes (with different transforms) deformed by only one armature (at a third transform) --> export with only 1 skin.
Still have to test lots of configuration, and still have to fix normals & tangents, but this is promising.
I hope to be able to provide a complete PR during next week.

[2019-08-23 14:36] julienduroure opened #627 "T69089 : blender v2.81 : libextern_draco.so is missing"
See https://developer.blender.org/T69089

Seems update to python 3.7.4 broke the generation of .so lib

[2019-08-23 14:37] julienduroure commented on #627
Can you please have a look @UX3D-nopper @McNopper ?

[2019-08-23 14:44] julienduroure commented on #627
Seems glTF is hardcoding the Blender and Python version, this should be avoided.

[2019-08-23 16:39] capnm commented on #627
I was just about to write a patch for Draco, but then realized that the Blender version is hard-coded elsewhere as well. So it is rather for someone who knows the project structure:

git grep '2.80/'
[code]

[2019-08-23 16:52] stevenvergenz opened #628 "Exported GLB chunk headers not aligned to 4-byte boundary"
**Describe the bug**
The glTF specification says that the start and end of each chunk of a GLB must align to a 4-byte boundary, but that's not what's exported.

**To Reproduce**
Steps to reproduce the behavior:
1. Load the suzanne.blend from [suzanne.zip](https://github.com/KhronosGroup/glTF-Blender-IO/files/3535421/suzanne.zip)
2. Click on File > Export > glTF 2.0
3. Check the Selected Objects bo

[2019-08-23 16:54] #628 closed

[2019-08-23 20:02] julienduroure commented on #627
Don't worry about gitignore and tools. I think the most important is the draco file.
Can someone can confirm about docker, for tests ?

[2019-08-24 07:01] #627 closed

[2019-08-24 12:55] capnm opened #632 "Simple CC0 model for testing issues with bone-object parenting"
We use a simple bone parenting heavily with kids to make animations for games.
I extracted a model (with current Blender v2.81) to demonstrate and help to fix the issues:
[TransportRobot_a-02.zip](https://github.com/KhronosGroup/glTF-Blender-IO/files/3537178/TransportRobot_a-02.zip)

----

Here is the model triangulated and with cleared animation data + the exported glTF file:
[TransportRobot_a-02

[2019-08-25 01:11] vico93 commented on #625
Thanks @LanceMcCarthy !

[2019-08-25 07:19] julienduroure commented on #566
Not sure to export it correctly yet, but with glb file in attachment, I get some different results on few viewers: (generated with branch fix_IBM)

- https://gltf-viewer.donmccurdy.com/ (tree.js) : Seems OK
- https://sandbox.babylonjs.com/ : Seems OK
- godot 3.1.1 : Not OK
- own blender importer : Not OK

Original file: (skin_posed)
![image](https://user-images.githubusercontent.com/1696020/636466

[2019-08-25 08:04] #626 closed

[2019-08-25 15:41] wcbx commented on #203
https://www.youtube.com/watch?v=CSAl3vgxu4M&t=4m

That's unacceptable RAM usage.

[2019-08-26 05:02] capnm commented on #632
## Comparison with the (currently usable) blender → fbx → fbx2gltf → glTF workflow
The glTF files:
[TransportRobot_a-02_tris_defom_bones_noleaf_out.zip](https://github.com/KhronosGroup/glTF-Blender-IO/files/3539438/TransportRobot_a-02_tris_defom_bones_noleaf_out.zip)

![gltf_viewer](https://user-images.githubusercontent.com/4047289/63666259-0b1b3180-c7cf-11e9-895c-72b42152bd1e.jpg)

![fbx_workflow

[2019-08-26 15:12] capnm commented on #632
Sketchfab Test https://skfb.ly/6MQZY

[2019-08-27 09:03] rorlork opened #635 "base64 decode expects "data:base64;..." so "data:,..." doesn't work"
**Describe the bug**

The data URI scheme, according to RFC 2397 ( https://tools.ietf.org/html/rfc2397 ) is data:[<mediatype>][;base64],<data> but the code always tries to find ";base64," so any encoded data of the form "data:,..." will not be parsed.

**To Reproduce**
Steps to reproduce the behavior:
1. Export a scene with "gltf Embedded"
2. Edit the file and remove from any uri-encoded buffer th

[2019-08-27 17:51] lexaknyazev commented on #635
The existing implementation of Data URI loader doesn't cover the whole RFC 2397, but it is correct wrt looking for `;base64` string since only in that case the URI is encoded with base64:

Given that glTF uses URI only for binary data, there's no practical reason to support percent-encoded Data URIs in the importer.

[2019-08-27 18:27] rorlork commented on #635
You are totally right. I think the problem came when we used an asset exported from another editor which didn't use the ";base64" string so it broke the loader.
I should have read more carefully the RFC, sorry for the inconvenience.

[2019-08-27 18:27] #635 closed

[2019-08-29 04:16] harokyang opened #638 "Wrong object exported (classroom.blend)"
Using Blender 2.8
classroom.blend (the example file come with Blender)

Exported as gltf 2.0
Check with any gltf viewer app, no chairs in scene, but lots of door handles

Check the gltf file manually
All the object chair and its instances become object Box.024(the door handle)

Something wrong with the exporter

[2019-08-29 04:50] julienduroure opened #639 "Traceback exporting classroom when animation export is enable"

[2019-08-29 04:50] julienduroure commented on #638
This is a duplicate of #619 : 3 scenes are exported, but the active scene is the last exported.

But:: Something is wrong when animation is exported. Created #639 for this issue.

[2019-08-29 04:50] #638 closed

[2019-08-29 05:08] harokyang commented on #638
I checked all 3 scenes, none of them contain object chair but door handles

If I select the chair and enable export selected object option, I got 3 empty scenes

[2019-08-29 05:20] julienduroure commented on #638
The scene is using lots of particles and dupli-instances. This is a know limitation, will be manage in #500

[2019-08-29 05:23] julienduroure commented on #632
Closing, this is only a test case for #603 , discussion can continue on #603, not here

[2019-08-29 05:23] #632 closed

[2019-08-29 05:25] julienduroure commented on #614
This will be fix after merge of branch https://github.com/KhronosGroup/glTF-Blender-IO/tree/fix_IBM

[2019-08-29 05:25] #619 closed

[2019-08-29 05:29] julienduroure commented on #557
A first draft is available here: #637
Not ready to be merged yet

[2019-08-29 05:30] julienduroure commented on #603
Note: this issue will be managed only after #566

[2019-08-29 17:12] julienduroure commented on #566
Doing the same exercice, but with a file with animation.

treejs, babylonjs and blender importer are displaying same result, that is the animation from original file.

![image](https://user-images.githubusercontent.com/1696020/63961246-a7279000-ca90-11e9-9151-b328aca55be4.png)

Godot 3.1.1 is not displaying the same result:

![image](https://user-images.githubusercontent.com/1696020/63961300-c58d8

[2019-08-29 18:06] julienduroure commented on #639
Simplier blend file to reproduce the error:

An animated object is present in 2 differents scene

[object_2_scenes_animated.blend.zip](https://github.com/KhronosGroup/glTF-Blender-IO/files/3556834/object_2_scenes_animated.blend.zip)

[2019-08-29 18:07] julienduroure commented on #617
@UX3D-eckerlein Any news ?

[2019-08-29 19:57] elbobo opened #641 "Shapekey keyframes cause export errors"
Hi,

When trying to export an animation sequence made by keyframing shapekeys the animation does not work and I receive the following errors when testing in [the model viewer](https://gltf-viewer.donmccurdy.com/).

`ANIMATION_SAMPLER_OUTPUT_ACCESSOR_INVALID_COUNT`
`Animation sampler output accessor of count 168 expected. Found 6.`

`ANIMATION_DUPLICATE_TARGETS`
`Animation channel has the same targ

[2019-08-29 22:32] wcbx commented on #203
If your 16 GB RAM is peaking then this should never have been released for 2.8

[2019-08-30 04:52] julienduroure commented on #641
Confirmed

- Seems shapekeys animation are exported 2 times. One in inear, one in cubicspline
- Bad number of data in accessor

[2019-08-30 06:39] pjoe commented on #203
@wcbx If you work with large textures (like 8K) and the exporter needs to process them as explained by @emackey (e.g. to pack channels into singe ORM texture as required by glTF), then it is unfortunately gonna take memory and time. You can read more about how this works here: https://docs.blender.org/manual/en/latest/addons/io_scene_gltf2.html#metallic-and-roughness

Best option to avoid this wou

[2019-08-30 11:54] elbobo commented on #641
Thanks for looking at it. Is there any work around for this? I currently cannot export animations made from shapekeys in any format..

[2019-08-30 17:49] xCyborg commented on #144
This is still a huge issue, I can't export and alpha blended model in glTF or even FBX, the sorting is all messed up, tried all options it's just impossible.
Should be fixed ASAP!

[2019-08-30 17:52] donmccurdy commented on #144
@xCyborg we already support exporting alpha blended models in glTF. If you're having trouble getting this to work, please [review the docs](https://docs.blender.org/manual/en/dev/addons/io_scene_gltf2.html) and if it's not working, file a new issue including a `.blend` file so we can reproduce your issue.

[2019-08-30 17:52] xCyborg commented on #144
@donmccurdy That's the problem, it's still rendering really weird even if opacity is 1.

[2019-08-30 17:53] donmccurdy commented on #144
Perfect sorting is a Hard Problem in all realtime engines; this is not something an exporter can fix for you... if you would like to share an example we may be able to advise how to work around it.

[2019-08-30 17:59] xCyborg commented on #144
@donmccurdy Here download this glb file and open it in any glTF viewer, I'm using Windows' built in 3D Viewer.
[https://1drv.ms/u/s!Ato44WJy5busskzlSlyq_fI_uJuJ?e=wmzvup](url)

[2019-08-30 18:05] xCyborg commented on #144
@donmccurdy Here is the source blend file.

https://1drv.ms/u/s!Ato44WJy5bussk0DKaXSocyyuPer

![image](https://user-images.githubusercontent.com/10322873/64042112-0ea91280-cb59-11e9-9d37-a19ddc94b2ab.png)

[2019-08-30 18:13] xCyborg commented on #144
@donmccurdy It's also exporting the vertex color data as base color distorting the diffuse color, I'm not sure if it's the exporter or the 3d viewer.

[2019-08-30 18:20] emackey commented on #144
Depth-sorting of alpha blended polygons has been a well-known and well-studied problem for multiple decades of realtime 3D graphics.  It's got nothing to do with the glTF or FBX exporters.  Find a way to use non-alpha-blended materials for the opaque stuff.  Use opaque objects to block multiple layers of translucency from stacking up.  Or use a path tracer.  Or use OIT.  etc.

[2019-08-30 18:54] xCyborg commented on #144
@donmccurdy You mean I must use different materials for the opaque parts? And very simple translucent part geometry?
But in realtime 3D engines like Unity I can use Alpha-blended materials just like any opaque materials with no sorting problems at all.
I still don't understand though why parts that aren't supposed to be blended are blended and rendered as transparent.

[2019-08-30 19:40] Gutz-Pilz opened #642 "No tiling on roughness"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
have made several materials  - all with roughness
but tiling applied to roughness wont be exported!

heres my initial Blen Material Setup
![2019-08-30 21_31_27-Blender](https://user-images.githubusercontent.com/3322071/64047145-7bbea700-cb5d-11e9-9321-60ab5662c296.png)

**Exp

[2019-08-30 20:43] emackey commented on #144
Yes, exactly.  Complex and robust game engines like Unity may offer ways to support it, but simpler realtime engines will struggle with opaque parts incorrectly marked as translucent.

This has nothing to do with file formats or exporters, so this GitHub issue tracker is not really the correct forum for asking for help on this topic.  You could try searching for "alpha blend depth sorting" or simi

[2019-08-31 06:26] #641 closed

[2019-08-31 06:35] julienduroure commented on #642
@Gutz-Pilz You didn't provide the texture images. Can you please packed them into blend file or zip them and upload here? Thanks

[2019-08-31 07:56] Gutz-Pilz commented on #642
@julienduroure my bad
[roughnesTilingIssue.zip](https://github.com/KhronosGroup/glTF-Blender-IO/files/3562185/roughnesTilingIssue.zip)

[2019-08-31 16:37] julienduroure opened #645 "Blender 2.81 release"
- [x] Update Release notes: https://wiki.blender.org/wiki/Reference/Release_Notes/2.81/Add-ons
- [x] Update doc
- [x] Check T69857 and remove workaround if fixed
- [x] Set Always sample animation default to True
- [x] Change version to 1.0.0

For info, here are current milestones :

Release date for 2.81 is currently set to 14 November 2019
Cut-off date (major changes and features in by) 13 Septem

[2019-09-01 06:15] donalffons opened #646 "How to export roughness / metalness / aoMapIntensity"
Hi,

I did a lot of research, but couldn't find a way to export roughness / metalness / aoMapIntensity factors (in contrast to maps). In the old gltf-Blender-Exporter, these factors were directly accessible through the gtlf node.

For example, here is my material setup:

![image](https://user-images.githubusercontent.com/33040347/64072512-fbe52980-cc8f-11e9-8c9a-85a451ee0e4e.png)

I would like to

[2019-09-01 16:03] ogierm commented on #123
There is (only in Eevee) a [Specular BSDF node](https://docs.blender.org/manual/en/latest/render/shader_nodes/shader/specular_bsdf.html) that does have an ambient occlusion socket. Maybe it could be used instead of the principled BSDF
![image](https://user-images.githubusercontent.com/29630575/64079041-bef65280-cce2-11e9-95ea-19d3dcc9450e.png)

[2019-09-01 17:11] HungryProton opened #647 "Animation export logic cause a huge impact on performance when sampling is enabled"
When **Always sample animations** is active, the exporter seems to sample the animations way too many times than what's actually needed.

_I'm not familiar with the code and my experience with Blender addons is rather low but I'll try my best to explain what I found._

Breaking down the export code, we have the following situation :

+ Starting from `gltf2_blender_gather_animations.py`, the export

[2019-09-01 17:23] pgruenbacher commented on #647
yea I see the same issue.

[2019-09-01 17:35] julienduroure commented on #647
Hello,

gather_keyframes is cached, so data are calculated only once.

But you're right, this is a know issue that frames are evaluated for each bone. This is already on my TODO list to cache info for each bone, and go frame by frame only once.

[2019-09-01 17:38] Master-J commented on #647
I noticed similar export times. The issue is even more noticeable when exporting models with multiple animations, the export times can quickly take up to mutliple minutes.

Some measurements i did (45 bones armature)
- one animation (160 frames) : 38 seconds
- 16 animations (varrying length) : more than 40 minutes (thought blender was crashing so i killed it before it finishes the export)

[2019-09-01 18:06] HungryProton commented on #647
@julienduroure Thank you for your quick answer! :smiley:
If there is a cache then I'm not sure it's working as intended.
I added a few print statements :
![image](https://user-images.githubusercontent.com/52043844/64080360-9165d500-ccf3-11e9-843c-c2f2268006ef.png)
The function is still called a huge amount of times. I tried to uncomment the @cached property on line 110 and the total export time we

[2019-09-01 18:11] pgruenbacher commented on #647
I  made a PR that helps at least with not export all the bones for every animation, which is a huge issue with small animations on armature with many bones.
https://github.com/KhronosGroup/glTF-Blender-IO/pull/648

[2019-09-01 18:27] julienduroure commented on #647
Thanks for the patch. Unfortunately, this PR can't be accepted.
Export only bones related will break most of animation export, when deformations bones are not keyed. (And not sure joint structure is handle correctly in your patch (not verified))

The solution is to export only deformation bones, the patch is WIP on my side

[2019-09-01 19:31] julienduroure commented on #647
@HangryProton

Export only Def bones is planned, and listed here #260

Function are called for every bone. That what will be change baking frame by frame only once. Current caching avoid calling these function multiple times for every bone (that is needed to get input / output for example)

[2019-09-02 01:29] donmccurdy commented on #646
Adding a multiply node should be supported, [according to the docs](https://docs.blender.org/manual/en/latest/addons/io_scene_gltf2.html#factors). Could you share a screenshot of what you're trying for that? We should probably add a screenshot of the correct setup in the docs, but I think it's multiplication _after_ the *Separate RGB* node.

[2019-09-02 05:20] donalffons commented on #646
I tried the "Math - Multiply" and the "MixRGB - Multiply" nodes, both before and after the "Separate RGB" node without success.
![image](https://user-images.githubusercontent.com/33040347/64091560-00bde200-cd51-11e9-93c2-2f8955c75ced.png)

When loading the GLTF file with ThreeJS, the roughness is always 1 no matter what I do.

I created a simple test file (see attached - I'm using some random AO t

[2019-09-03 14:20] emackey commented on #123
@ogierm Thanks.  We considered that node, but it's using the spec/gloss PBR workflow, which is an alternative to what now appears to be the more popular PBR workflow of metal/rough.  We needed a solution for metal/rough PBR in Blender 2.80, and ultimately we went with a custom node for it.

The result is [documented here in Blender Manual](https://docs.blender.org/manual/en/latest/addons/io_scene_

[2019-09-03 15:21] julienduroure opened #649 "Discussion: 1.0.0 version"
See this commit:
https://developer.blender.org/rBA53aec1ccff1b7e6356836a29b36115b475f0c3d2#change-gcpnsXYYwN6d

Be carefull, we need to include some tests on blender version to keep compatibility with 2.79 version .... And this will not work anymore with current stable 2.80

[2019-09-03 22:41] MaxKriegerVG opened #650 "Armature Export glTF Issues (Blender 2.80)"
Hi,

Saw that there were a few reports of this already, but I'm also experiencing issues wrt exporting animations with armatures to glTF format from Blender 2.80.

I've attached an FBX export to demonstrate that the animation from this .blend file is exporting properly. However, when I export glTF (in .glb format) and then re-import into Blender, model/bone location is all over the place. (note th

[2019-09-04 11:40] xCyborg commented on #203
It's still as slow as a snail to this date.
I'm writing this while waiting for it to complete, slowest exporter I've seen anywhere.

[2019-09-04 13:31] emackey commented on #203
Airing grievances online is not going to fix any performance problems in any type of software.  The success of open-source software comes from those contributors willing to pitch in.

[2019-09-04 14:41] emackey commented on #649
If we have strong reason to drop support for 2.79 sooner than planned, we can open that discussion with Khronos and probably reach agreement without too much trouble.

My own recommendation would be, when the time comes, to make a Git branch & tag for the last known version of this addon to support both 2.79x stable and 2.80 stable, and call that our final release of the addon for those versions.

[2019-09-04 15:00] jee7 commented on #219
I am not too familiar with Blender, but I also have an issue with importing and exporting multiple animations.
Let's take the Soldier.glb from the Three.js repo.
https://github.com/mrdoob/three.js/blob/dev/examples/models/gltf/Soldier.glb
[Soldier.zip](https://github.com/KhronosGroup/glTF-Blender-IO/files/3575101/Soldier.zip)

When opening it in this GLTF Viewer (https://gltf-viewer.donmccurdy.com

[2019-09-04 15:44] donmccurdy commented on #219
@jee7 I'm not sure – could you open a new issue?

[2019-09-04 16:00] samanthajo2 commented on #571
I'm still unclear on why you don't consider this a regression. I can go get the old exporter, load the same .blend file into blender and get the correct material colors. Then I use the new exporter and don't get the correct colors.

[2019-09-04 16:17] donmccurdy commented on #571
Let's keep this open to track that Diffuse BSDF and use_nodes=False are not supported.

This exporter was rewritten — involving a very, very large number of changes — for Blender 2.80, and support for Blender 2.80-standard materials is currently higher priority. But supporting Diffuse BSDF and use_nodes=False again would be nice, if it's not a major change from the current material export.

[2019-09-04 16:29] jee7 opened #652 "Animated model import/export creates weird animations"
**Describe the bug**
Importing a GLB file with existing animations creates new and weird animations instead of the existing ones.

**To Reproduce**
1. Take the Soldier.glb from the Three.js repo.
https://github.com/mrdoob/three.js/blob/dev/examples/models/gltf/Soldier.glb
[Soldier.zip](https://github.com/KhronosGroup/glTF-Blender-IO/files/3575101/Soldier.zip)

2. Open it in this GLTF Viewer (https

[2019-09-04 16:29] jee7 commented on #219
Done. #652.

[2019-09-04 18:06] emackey commented on #649
We may want to bump the version number to `1.0.0` prior to dropping support for 2.80 and 2.79.

This was last discussed in https://github.com/KhronosGroup/glTF-Blender-IO/pull/421#issuecomment-483350462, but at the time the addon didn't have a stable release yet.  Perhaps we can agree it's ready for `1.0.0` now?

[2019-09-04 18:36] julienduroure commented on #649
I think this is too early to drop 2.79
I think we have to wait (at least) release of 2.81

For 1.0.0, I think we have to merge #653, #637 and a first round of performance on bone animation export before bump to 1.0.0

[2019-09-04 19:49] julienduroure commented on #649
Change is now committed, keeping this ticket open to talk about versioning and blender 2.79 support dropping

[2019-09-04 19:53] julienduroure opened #654 "Cache bone animation"

[2019-09-04 19:54] julienduroure commented on #647
A first step will be to cache bone matrix for all bones, to avoid to set frame for each bone. Will be manage in #654

[2019-09-04 20:13] julienduroure commented on #650
Seems #653 Solves the issue.
Here is the generated glb with #653 applied:
[aibo110.4.glb.zip](https://github.com/KhronosGroup/glTF-Blender-IO/files/3576309/aibo110.4.glb.zip)

[2019-09-04 20:18] julienduroure opened #655 "Set track name when importing animation"
When importing animations, track name must be set to gltf animation name.
This will enable re-export in a single animation (after merge of #637 ) in case of multiobject animation

[2019-09-04 20:21] julienduroure commented on #652
First analysis : There is lots of animation because some animation are multi-object animations.
glTF animations can have multiple targets, where blender animation can be only on 1 object (object or armature).

Next analysis steps:
- Why some node created has empty, where names seems to indicate that this is joint (this is why we have some multi-object animations)
- #655 can help re-exporting with

[2019-09-04 20:29] elbobo opened #656 "Actions created in the shapekey editor are not exported when pushed down to the NLA"
Hi,

I understand that in order to export a model with multiple animations, the animations must be created in the action editor, saved and pushed down (or stashed) to the NLA.

This process works fine if the animation is loc rot scale or armature driven. However, if your animation is made from shapekeys, these keyframes do not appear in the action editor and can only be seen in the shapekey editor

[2019-09-04 20:43] julienduroure opened #657 "importer: KHR_texture_transform doesn't work on any texture"
For example, not working on normalmap

[2019-09-04 21:05] julienduroure commented on #656
Hello,
Thanks for your report. Can you please test with a daily build of blender (https://builder.blender.org/download/), because it seems that this is already solved in a version > official 2.80

If I missed something, don't hesitate to comment, we will reopen this ticket

[2019-09-04 21:05] #656 closed

[2019-09-04 21:23] elbobo commented on #656
That solves it! Fantastic, thank you very much.

[2019-09-04 21:26] #657 closed

[2019-09-04 21:37] julienduroure commented on #55
Is there still an issue here, or can I close this ticket?

[2019-09-04 21:38] julienduroure commented on #64
More than a month without any answer, closing this ticket.

[2019-09-04 21:38] #64 closed

[2019-09-04 21:39] #655 closed

[2019-09-04 23:06] significant-bit commented on #626
Thanks, @julienduroure!

[2019-09-05 04:42] donmccurdy opened #660 "Export broken on "RobotExpressive" example."
[RobotExpressive.blend 2.zip](https://github.com/KhronosGroup/glTF-Blender-IO/files/3577470/RobotExpressive.blend.2.zip)

Tested against `master`, https://github.com/KhronosGroup/glTF-Blender-IO/pull/637, and https://github.com/KhronosGroup/glTF-Blender-IO/pull/653. This file worked in the past, but now fails with this error:

![Screen Shot 2019-09-04 at 9 37 30 PM](https://user-images.githubuserc

[2019-09-05 04:45] donmccurdy commented on #660
Oof, I was in Blender 2.80, that's probably the issue. I'll update and test this again...

[2019-09-05 05:07] donmccurdy commented on #660
Ok, still getting an error in 2.81, but it's a different error:

![Screen Shot 2019-09-04 at 10 05 11 PM](https://user-images.githubusercontent.com/1848368/64313386-53b9b400-cf60-11e9-80af-e153b64c2fdf.png)

I've used default settings, but with *Always Sample Animations* enabled.

[2019-09-05 05:19] julienduroure commented on #660
@donmccurdy  Not linked to #637 or #653, because it happen also with only master.
I will add a check about that, but .blend file is quite weird: Robot_death action is linked to robot mesh, there is no sense to do that, because these are path to bone animation ...

Just remove this 'Robot_death" from blender object (see screenshot), and export will work
![image](https://user-images.githubuserconten

[2019-09-05 05:27] #660 closed

[2019-09-05 14:51] emackey opened #661 "Test fail in master after Blender API change for future 2.81"
texture_transform = gltf2_blender_get.get_texture_transform_from_texture_node(texture_node)
  File "/opt/blender281/2.81/scripts/addons/io_scene_gltf2/blender/exp/gltf2_blender_get.py", line 151, in get_texture_transform_from_texture_node
    if mapping_node.rotation[0] or mapping_node.rotation[1]:
AttributeError: 'ShaderNodeMapping' object has no attribute 'rotation'

https://circleci.com/gh/Khro

[2019-09-05 15:06] emackey commented on #661
Actually this may have been introduced by an API change in a 2.81 experimental build.

[2019-09-05 15:20] julienduroure commented on #661
Confirmed that this is in 2.81 experimental build :
https://developer.blender.org/rBbaaa89a0bc54a659f9ddbc34cce21d6920c0f6a6

[2019-09-05 15:26] julienduroure commented on #661
Fix is quite easy to do, see https://developer.blender.org/D5693 for example

[2019-09-05 15:37] emackey commented on #661
Is the fix backwards-compatible to 2.80?

[2019-09-05 15:40] donmccurdy commented on #618
Will be fixed in https://github.com/KhronosGroup/glTF-Blender-IO/pull/662.

Note that this relies on the *Custom Distance* property in Blender, and not *Radius*:

<img width="261" alt="Screen Shot 2019-09-05 at 8 38 11 AM" src="https://user-images.githubusercontent.com/1848368/64357009-aaeb7300-cfb8-11e9-9aeb-19e785c27131.png">

[2019-09-05 15:49] julienduroure commented on #661
@emackey No, this is not back-compatible

[2019-09-05 19:32] emackey commented on #661
Instead of try/except, could we use

[code]

The convert script should still flag this for removal, it only looks for `if bpy.app.version` now.

[2019-09-05 19:34] julienduroure commented on #661
I will try it after I'm sure that I change the code everywhere

[2019-09-05 19:36] julienduroure commented on #661
(We have to use 2.81.8 , seems to be the subversion set in blender commit for this change)

[2019-09-05 20:11] #661 closed

[2019-09-05 20:13] #642 closed

[2019-09-05 21:42] #618 closed

[2019-09-06 19:41] julienduroure commented on #654
Some tests are in progress.
With all default export options + always sample animation on:

- Pig.blend : from 11.62s to 0.70s
- Robot Expressive.blend : from 27.10s to 1.63s
- Cow.blend: from 17.77s to 0.90s
- game_man_sketchbookb1.blend: from 27.22s to 1.08

[2019-09-07 08:12] julienduroure commented on #647
This will be solved by #664 after merging it.
If you want me to have a look on your file to test perf improvement, please upload it

[2019-09-07 08:51] julienduroure commented on #652
Found the root cause:

    {
      "inverseBindMatrices": 424,
      "joints": [
        3,
        4,
        5,
        6,
        7,
        8,
        10,
 [.....]
        66
      ],
      "name": "vanguard_Mesh",
      "skeleton": 3
    },
    {
      "inverseBindMatrices": 560,
      "joints": [
        7,
        8
      ],
      "name": "vanguard_visor",
      "skeleton": 3
    }

Current

[2019-09-07 08:54] julienduroure commented on #652
Probably link to #331 discussion

[2019-09-07 09:15] julienduroure commented on #370
This will be solved by #653

[2019-09-08 18:00] tdaniel22 opened #665 "Translated collection instances are exported without translation"
**Describe the bug**
Translated collection instances are exported without translation.

**To Reproduce**
1. Create a cube and put it in a new collection.
2. Create an instance of this new collection.
3. Translate, rotate and scale the new instance.
4. Export the scene.

**Expected behavior**
The exported glTF node corresponding to the cube instance should be translated, rotated and scaled.
[code]

[2019-09-08 18:09] julienduroure commented on #665
Hello,
Thanks for reporting.
This is linked to #500 . Currently, duplication / instance is quite buggy

[2019-09-09 08:43] hodasemi opened #666 "Scene - Root Nodes"
As stated in the standard (https://github.com/KhronosGroup/glTF/tree/master/specification/2.0#scenes), the scene should contain indices of all root nodes.
But in my case there is just the total amount of nodes listed. Since the skin has no skeleton I see no way to obtain root nodes.

[blender_test.zip](https://github.com/KhronosGroup/glTF-Blender-IO/files/3589494/blender_test.zip)

[2019-09-09 09:26] julienduroure commented on #666
Hello,
Your gltf file does not contains all nodes in your scene:
![image](https://user-images.githubusercontent.com/1696020/64519374-49970d00-d2f4-11e9-9ed9-552cc67c713f.png)

--> The root is node 16

If you are talking about joints data, skeleton property is currently not mandatory in glTF2.0 specification.
With scene node hierarchy, you can be able to have joint/bone hierarchy too.

[2019-09-09 09:26] #666 closed

[2019-09-10 06:49] julienduroure opened #667 "T69673: import fail"
Cf https://developer.blender.org/T69673

I have received the .blend and .glb files, but it can't be shared publicly.

[2019-09-10 06:59] julienduroure commented on #667
Seems everything is OK on exporter (check on https://gltf-viewer.donmccurdy.com/ / https://github.com/donmccurdy/three-gltf-viewer/releases )

Importer failed. Probably linked to #349

Your armature object has not default rotation / scale. It's always a bad idea in Blender
Seems applying rotation/scale before exporting solved (at least partially) the problem.

Continuing investigation...

[2019-09-10 12:52] julienduroure commented on #649
Hi all,
Any news on testing #653 , #637 and #664 ?
Deadline for freezing new features for v2.81 is coming, and I really want these to be included (if tests are OK).
Maybe #653 and #664 can go after feature freeze as they are perf / fix. But #637 is more a new feature.

@donmccurdy ?

[2019-09-10 16:30] Taroslord opened #668 "Animation problems when using armatures with equal bone names (Armature copies)"
**Describe the bug**
I've created an armature for an animation, that have to be exported to glTF. The armature is animated. The whole scene has several copies of the animated armature.  In Blender every object copy with its animation will be played fine.

As soon as I export my scene to glTF only the first Armature object will be animated. The other objects do nothing, instead of playing their ani

[2019-09-10 19:08] julienduroure commented on #668
Seems the bug come not from Blender.
Reimporting glb in Blender --> both armatures are animated
Import in https://sandbox.babylonjs.com/ --> Both armatures are animated.

@donmccurdy: Seems the bug come from Three.js

[2019-09-10 19:08] #668 closed

[2019-09-10 19:58] Taroslord commented on #668
But the same scene will not be played in my mentioned viewer here:
https://gltf-viewer.donmccurdy.com/
There it works only if the bones has different names.

In your viewer it is played. So can the bug be maybe in the viewer I'm using and not in Blender?

Thank you
Chris

[2019-09-10 20:23] julienduroure commented on #668
Yes, this is what I was saying: threejs is the engine used to display gltf files in viewer you used. Sorry if it was not clear.

[2019-09-10 21:35] emackey commented on #649
@julienduroure I don't have enough experience with anim/skins to review these, and it seems like Don may be swamped at work.  If you feel these are all stable, maybe merge them all in now, so that other users have time to test and report bugs before the 2.81 release.  Worst case scenario we could back one out if users find serious problems prior to release.

[2019-09-11 05:46] Taroslord commented on #668
No problem. Thank you.

[2019-09-11 07:56] julienduroure opened #669 "Apply modifier option description: add a warning"
This break shapekeys export (due to how Blender works).
Add a warning in description.
See FBX export, this is the same, and option has a warning in description

[2019-09-11 09:27] Fizzelini opened #670 "Image as Planes using PNG's when exported as .glb leads to a grey plane."
**Describe the bug**
I'm new to Blender and WebAR and am trying to import png into Blender 2.8 using image as planes, have changed Blend Mode to Alpha Blend. When i export it into a .glb all i get is a grey plane. Any help would be appreciated. Thank you :)
![Screenshot (1130)](https://user-images.githubusercontent.com/53847398/64686535-629dea80-d4bb-11e9-95bb-e6397a741cda.png)
![Screenshot (1133)

[2019-09-11 10:47] julienduroure commented on #670
Hello,

Blender 2.80 Images as Plane creates a node tree that is not supported by glTF exporter. You can find the doc of what is supported for glTF here : https://docs.blender.org/manual/en/latest/addons/io_scene_gltf2.html

But Images as Plane has been updated recently to create a node tree that is compatible with glTF exporter.
You can find here alpha version of future 2.81 : https://builder.ble

[2019-09-11 10:47] #670 closed

[2019-09-11 20:06] julienduroure commented on #557
Fixed in 8a38eca

[2019-09-11 20:06] #557 closed

[2019-09-11 20:16] julienduroure commented on #647
Fixed by merging #664

[2019-09-11 20:16] #647 closed

[2019-09-11 20:16] julienduroure commented on #654
Fixed by merging #664

[2019-09-11 20:16] #654 closed

[2019-09-12 03:29] scurest opened #671 "Import: multi-object animations"
I was trying out the mult-object animation stuff in the importer and assuming I understand it correctly, I found some issues.

### Track names are not unique per animations

Here's a [test file](https://github.com/KhronosGroup/glTF-Blender-IO/files/3603573/MultObjAnim.zip). It's just BoxAnimated from the sample model with three copies of the same animation (which animates two objects); two are nam

[2019-09-12 04:33] julienduroure commented on #671
Hello,

- [ ] 1: Track names are not unique per animations: Great enhancement ideas. Added on my TODO list
- [ ] 2: Actions for different objects get pushed onto an object's NLA stack : Clearly a bug
- [ ] 3: The wrong actions get restored: consequence of bug 2. Will be solved after solving 2., and can be enhanced by 4.
- [ ] 4: restore the first glTF animation: welcome enhancement that will clari

[2019-09-12 05:31] scurest commented on #671
Let me know if I can help with any of it.

[2019-09-12 07:03] Master-J commented on #647
The problem seems fixed, tested the fix with the same model as before (45 bones armature, 16 animations). The export time went from over an hour to a minute long.

Thanks for the fix.
![Capture](https://user-images.githubusercontent.com/54776415/64761381-3d04f580-d53c-11e9-879e-7ef471d689c3.PNG)

[2019-09-12 14:01] emackey opened #672 "Test failures when downloading Blender"
Recent tests have all failed when trying to download Blender.

https://circleci.com/gh/KhronosGroup/glTF-Blender-IO

/cc @pjoe Any ideas?

[2019-09-13 09:49] pjoe commented on #672
I did a PR #673  to change the timeout to 20 min :S

Obviously not ideal solution - IIRC the blender devs mentioned that download.blender.org doesn't have CDN while builder.blender.org has (which is why this is only an issue for 2.79).

[2019-09-13 14:31] emackey commented on #672
Thanks @pjoe for fixing the download timeout.

There was another odd error, an unhandled promise rejection, which I've fixed in the test suite in commit 842e4b04b130.

The remaining test failures appear to be very serious:  The Blender 2.81 build isn't exporting any texturemaps from several of the round-trip test models.  Specifically, all of the numbered entries in this list have failed to export

[2019-09-13 19:01] donmccurdy commented on #308
Hmm. On one hand, if engines are likely to be unhappy with zero-weight vertices, it seems like glTF is probably doing the right thing by disallowing that. On the other hand, if Blender _does_ allow zero-weight vertices, it's not clear what this exporter should do when it finds them. Assign the vertex to an arbitrary bone? Add a new bone? Drop the vertex? Crash? 😣

@mcclure my website uses threejs

[2019-09-13 19:03] donmccurdy commented on #308
@julienduroure it's not exactly a satisfying fix, but in practice using `1, 0, 0, 0` to when the weights would otherwise be zero has avoided these issues in threejs.

We've been meaning to get this case into the official validation suite (https://github.com/KhronosGroup/glTF-Validator), but haven't yet: https://github.com/KhronosGroup/glTF-Validator/issues/58.

[2019-09-13 19:29] emackey opened #674 "Blender 2.81 doesn't initialize imported images"
In Blender 2.80, delete the cube and import [tests/roundtrip/01_textured_sphere](https://github.com/KhronosGroup/glTF-Blender-IO/tree/master/tests/roundtrip/01_textured_sphere).  Go to the `Shading` tab on the UI.  This is the expected result:

![ImportBlender280](https://user-images.githubusercontent.com/1235080/64889137-ab2fe200-d63a-11e9-8ffe-901e8831bf9b.png)

But in Blender 2.81 experimental

[2019-09-13 19:29] emackey commented on #672
Closing this, discussion will continue in #674.

[2019-09-13 19:29] #672 closed

[2019-09-13 20:03] julienduroure commented on #650
Fixed now

[2019-09-13 20:03] #650 closed

[2019-09-13 20:05] julienduroure commented on #614
Fixed now !

[2019-09-13 20:05] #614 closed

[2019-09-13 20:06] julienduroure commented on #566
Should be fixed now!

[2019-09-13 20:06] #566 closed

[2019-09-13 20:32] julienduroure commented on #667
Closing, because of duplicate

[2019-09-13 20:32] #667 closed

[2019-09-13 20:44] julienduroure commented on #645
Added a check on status of blender bug https://developer.blender.org/T69857
Remove commit 51ee88f1af6753abccf89f0a6c83482bdde7d70a if blender bug is solved

[2019-09-13 20:48] julienduroure commented on #674
I commited a workaround and create a new task on 2.81 release task #645

This seems to be a regression in Blender. I created a bug report here: https://developer.blender.org/T69857

I propose to close this report, because there is no more issue here

[2019-09-13 20:48] #674 closed

[2019-09-13 20:53] emackey commented on #674
I've confirmed that this bug affects the OBJ importer the same way.  Looks like a Blender 2.81 issue.

[2019-09-13 20:57] emackey commented on #674
@julienduroure Awesome.  Also, tests are passing again with your workaround.

[2019-09-13 21:02] #669 closed

[2019-09-13 21:07] julienduroure opened #675 "2.81 now has a Vertex Color node"

[2019-09-13 21:16] julienduroure commented on #276
This is now solved

[2019-09-13 21:16] #276 closed

[2019-09-13 21:27] julienduroure commented on #219
Seems the original bug report is now solve. Can I close this ticket, or I missed something?

[2019-09-13 21:38] julienduroure commented on #674
OK ... Blender bug is already solved.
I will wait that next build is ready to remove my workaround, in order to keep passing tests

[2019-09-13 22:19] scurest commented on #675
Does it supply white (1,1,1,1) when there aren't vertex colors?

[2019-09-14 04:27] julienduroure commented on #675
Yes, it does.
2.80 does it too

This is only a new node in tree to retrieve data
![image](https://user-images.githubusercontent.com/1696020/64903413-811d0500-d6b8-11e9-9ad0-7d88d62c8582.png)

[2019-09-14 05:40] scurest commented on #675
My Blender gives black when the vertex color layer doesn't exist. What version do you have? I have 2.80.75.

![cube](https://user-images.githubusercontent.com/11024420/64903970-e6a4cd80-d687-11e9-8bf1-af96d64cd1f9.png)

[2019-09-14 06:14] julienduroure commented on #675
Ah, ok, you mean accessing a vertex layer that doesn't eixts -> you're right, it's black. But seams logic: no data --> 0.0

(I thought you mean accessing vertex color for vertices that you didn't paint, on a existing layer)

[2019-09-14 07:06] scurest commented on #675
The alpha socket could help #355, but it's too bad it's still black :/ If it would give white you could write a material that was indifferent to whether the polys it's applied to have color. The importer wouldn't have to split one glTF material into multiple Blender materials (`material` and `material_COLOR_0`). Everyone's used white as the default vertex color forever, including Blender when you

[2019-09-15 21:51] mcclure commented on #308
@julienduroure "Can you please share your blend file? Want to check what happen"
I sent you the blend file via email as we discussed in https://developer.blender.org/T69673 .

[2019-09-16 05:20] julienduroure commented on #308
Your model displays fine in https://gltf-viewer.donmccurdy.com/
![image](https://user-images.githubusercontent.com/1696020/64935509-00920c00-d852-11e9-93ac-3c4717b52e15.png)

He you want to be sure to not have 0 weights, move your controller_world bone, and check all parts that not moved. Then assign all these vertices to controller_world vertex group
![image](https://user-images.githubusercontent

[2019-09-16 09:15] julienduroure commented on #576
Can you please share an example glb file (~2Mb) that have bad performance.

I here have an example file, that I can't share, that take very long time to import. Only 1 node, but lots of primitives

[2019-09-16 09:17] julienduroure commented on #370
#653 is now merge, should be fixed

[2019-09-16 09:17] #370 closed

[2019-09-16 18:59] mcclure commented on #308
@julienduroure Thanks— as explained above I am aware the model works right in the donmccurdy.com viewer, and Mr. McCurdy above says that his viewer normalizes weights (although this is not what the GLTF spec says to do). So to be totally clear I see short term I can get around my problem by either modifying the .blend or normalizing weights in my importer, but Blender is exporting noncompliant GLT

[2019-09-16 21:15] julienduroure commented on #308
Don't worry, we agreed on that. I was only explain the root cause, and how to workaround, waiting a fix is pushed. This ticket is still open, bug remains, and still need to be fixed.

Blender allows something that is forbidden in glTF specification, so we have to found how to manage it, as explained by Don. Not sure yet what is the best solution

[2019-09-17 04:51] julienduroure commented on #372
Skin issue seems to be fixed, but now have gltf error :